@font-face {
	font-family : 'RobotoRegular';
	src         : url('../fonts/Roboto-Regular.eot?-wg09e4');
	src         : url('../fonts/Roboto-Regular.eot?#iefix-wg09e4') format('embedded-opentype'),
	url('../fonts/Roboto-Regular.ttf?-wg09e4') format('truetype'),
	url('../fonts/Roboto-Regular.woff?-wg09e4') format('woff'),
	url('../fonts/Roboto-Regular.svg?-wg09e4#-wg09e4') format('svg');
	font-weight : normal;
	font-style  : normal;
}

@font-face {
	font-family : 'RobotoCondensedRegular';
	src         : url('../fonts/RobotoCondensed-Regular.eot?-wg09e4');
	src         : url('../fonts/RobotoCondensed-Regular.eot?#iefix-wg09e4') format('embedded-opentype'),
	url('../fonts/RobotoCondensed-Regular.ttf?-wg09e4') format('truetype'),
	url('../fonts/RobotoCondensed-Regular.woff?-wg09e4') format('woff'),
	url('../fonts/RobotoCondensed-Regular.svg?-wg09e4#-wg09e4') format('svg');
	font-weight : normal;
	font-style  : normal;
}

@font-face {
	font-family : 'RobotoThin';
	src         : url('../fonts/Roboto-Thin.eot?-wg09e4');
	src         : url('../fonts/Roboto-Thin.eot?#iefix-wg09e4') format('embedded-opentype'),
	url('../fonts/Roboto-Thin.ttf?-wg09e4') format('truetype'),
	url('../fonts/Roboto-Thin.woff?-wg09e4') format('woff'),
	url('../fonts/Roboto-Thin.svg?-wg09e4#-wg09e4') format('svg');
	font-weight : normal;
	font-style  : normal;
}

@font-face {
	font-family : 'RobotoItalic';
	src         : url('../fonts/Roboto-Italic.eot?-wg09e4');
	src         : url('../fonts/Roboto-Italic.eot?#iefix-wg09e4') format('embedded-opentype'),
	url('../fonts/Roboto-Italic.ttf?-wg09e4') format('truetype'),
	url('../fonts/Roboto-Italic.woff?-wg09e4') format('woff'),
	url('../fonts/Roboto-Italic.svg?-wg09e4#-wg09e4') format('svg');
	font-weight : normal;
	font-style  : normal;
}

@font-face {
	font-family : 'RobotoMedium';
	src         : url('../fonts/Roboto-Medium.eot?-wg09e4');
	src         : url('../fonts/Roboto-Medium.eot?#iefix-wg09e4') format('embedded-opentype'),
	url('../fonts/Roboto-Medium.ttf?-wg09e4') format('truetype'),
	url('../fonts/Roboto-Medium.woff?-wg09e4') format('woff'),
	url('../fonts/Roboto-Medium.svg?-wg09e4#-wg09e4') format('svg');
	font-weight : normal;
	font-style  : normal;
}

@font-face {
	font-family : 'RobotoLight';
	src         : url('../fonts/Roboto-Light.eot?-wg09e4');
	src         : url('../fonts/Roboto-Light.eot?#iefix-wg09e4') format('embedded-opentype'),
	url('../fonts/Roboto-Light.ttf?-wg09e4') format('truetype'),
	url('../fonts/Roboto-Light.woff?-wg09e4') format('woff'),
	url('../fonts/Roboto-Light.svg?-wg09e4#-wg09e4') format('svg');
	font-weight : normal;
	font-style  : normal;
}

@font-face {
	font-family : 'RobotoBold';
	src         : url('../fonts/Roboto-Bold.eot?-wg09e4');
	src         : url('../fonts/Roboto-Bold.eot?#iefix-wg09e4') format('embedded-opentype'),
	url('../fonts/Roboto-Bold.ttf?-wg09e4') format('truetype'),
	url('../fonts/Roboto-Bold.woff?-wg09e4') format('woff'),
	url('../fonts/Roboto-Bold.svg?-wg09e4#-wg09e4') format('svg');
	font-weight : normal;
	font-style  : normal;
}

@font-face {
	font-family : 'RobotoBoldItalic';
	src         : url('../fonts/Roboto-BoldItalic.eot?-wg09e4');
	src         : url('../fonts/Roboto-BoldItalic.eot?#iefix-wg09e4') format('embedded-opentype'),
	url('../fonts/Roboto-BoldItalic.ttf?-wg09e4') format('truetype'),
	url('../fonts/Roboto-BoldItalic.woff?-wg09e4') format('woff'),
	url('../fonts/Roboto-BoldItalic.svg?-wg09e4#-wg09e4') format('svg');
	font-weight : normal;
	font-style  : normal;
}

@font-face {
	font-family : 'RobotoBlack';
	src         : url('../fonts/Roboto-Black.eot?-wg09e4');
	src         : url('../fonts/Roboto-Black.eot?#iefix-wg09e4') format('embedded-opentype'),
	url('../fonts/Roboto-Black.ttf?-wg09e4') format('truetype'),
	url('../fonts/Roboto-Black.woff?-wg09e4') format('woff'),
	url('../fonts/Roboto-Black.svg?-wg09e4#-wg09e4') format('svg');
	font-weight : normal;
	font-style  : normal;
}




