.contact_section {
	padding-top : 100px;
	
	.section_caption {
		margin-bottom : 40px;
	}
	
	.text_center_mob {
		margin : 50px 0;
	}
	
}

.become_contact_btn {
	@extend %blue_btn;
	z-index         : 1;
	position        : absolute;
	top             : -28px;
	right           : 10px;
	width           : 56px;
	height          : 56px;
	line-height     : 56px;
	border-radius   : 100%;
	text-decoration : none;
	text-align      : center;
	@include transform_rotate(-90);
}

.share_subscribe_block.mod_last {
	margin-bottom : 0;
}

.map_holder {
	position : relative;
}

.map_block {
	height : 640px;
}


.contact_section .contact_error_response {
  color: #dd4b39 !important;
  text-align: center !important;
  width: 100% !important;
  margin-bottom: 30px;
  display: none;
}

.contact_section .contact_error_response.error {
  display: block;
}

.contact_section .contact_success_response {
  color: #7cb342 !important;
  text-align: center !important;
  width: 100% !important;
  margin-bottom: 30px;
  display: none;
}

.contact_section .contact_success_response.success {
  display: block;
}

.contact_section input.contact_inline_error {
  border-color: #dd4b39 !important;
}
.contact_error {
  display: none;
}

.contact_error.contact_inline_error {
  display: block;
  margin: 0 0 1em !important;
  padding: 5px 10px !important;
  background-color: #dd4b39 !important;
  font-weight: normal !important;
  z-index: 1;
  color: #fff;
}

