<footer class="footer">
    <div class="footer_inner">
        <div class="footer_menu_holder">
            <div class="abs_container">
                <div class="gl_table_cell">
                    <div class="footer_menu_block">
                        <div class="text_center footer_menu_caption footerMenuCaption">Learn</div>
                        <ul class="text_center footer_m_list">
                            <li class="footer_m_item"><a href="/faq" class="gl_link">FAQ</a></li>
                            <li class="footer_m_item"><a href="https://github.com/LiskHQ/lisk-docs" class="gl_link" target="_blank">Install Lisk</a></li>
                            <li class="footer_m_item"><a href="https://www.youtube.com/channel/UCuqpGfg_bOQ8Ja4pj811PWg" class="gl_link" target="_blank">Video Academy</a></li>
                            <li class="footer_m_item"><a href="/documentation?i=README#" class="gl_link">Code Dapps</a></li>
                            <li class="footer_m_item"><a href="https://github.com/LiskHQ/lisk-whitepaper" class="gl_link" target="_blank">Whitepaper</a></li>
                        </ul>
                    </div>
                    <div class="footer_menu_block">
                        <div class="text_center footer_menu_caption footerMenuCaption">Resources</div>
                        <ul class="text_center footer_m_list">
                            <li class="footer_m_item"><a href="https://login.lisk.io/"  class="gl_link" target="_blank">Web Login</a></li>
                            <li class="footer_m_item"><a href="https://explorer.lisk.io/"  class="gl_link" target="_blank">Blockchain Explorer</a></li>
                            <li class="footer_m_item"><a href="http://faucet.lisk.io/" class="gl_link" target="_blank">Faucet</a></li>
                            <li class="footer_m_item"><a href="https://github.com/LiskHQ" class="gl_link" target="_blank">GitHub</a></li>
                            <li class="footer_m_item"><a href="https://github.com/LiskHQ/lisk" class="gl_link" target="_blank">Source Code</a></li>
                        </ul>
                    </div>
                    <div class="footer_menu_block">
                        <div class="text_center footer_menu_caption footerMenuCaption">Get Involved</div>
                        <ul class="text_center footer_m_list">
                            <li class="footer_m_item"><a href="https://chat.lisk.io/" class="gl_link" target="_blank">Chat</a></li>
                            <li class="footer_m_item"><a href="https://forum.lisk.io/" class="gl_link" target="_blank">Forum</a></li>
                            <li class="footer_m_item"><a href="#" class="gl_link" target="_blank">Bitcoin Talk Thread</a></li>
                            <li class="footer_m_item"><a href="#" class="gl_link" target="_blank">Bitcoin.com Thread</a></li>
                            <li class="footer_m_item"><a href="/contact-us" class="gl_link">Contact Us</a></li>
                        </ul>
                    </div>
                    <div class="footer_menu_block">
                        <div class="text_center footer_menu_caption footerMenuCaption">Social Media</div>
                        <ul class="text_center footer_m_list">
                            <li class="footer_m_item"><a href="https://www.facebook.com/Lisk-1118720888180640/" class="gl_link" target="_blank">Facebook</a></li>
                            <li class="footer_m_item"><a href="https://twitter.com/LiskHQ" class="gl_link" target="_blank">Twitter</a></li>
                            <li class="footer_m_item"><a href="https://plus.google.com/u/0/b/117072384375798857010/117072384375798857010/about/p/pub?hl=en" class="gl_link" target="_blank">Google+</a></li>
                            <li class="footer_m_item"><a href="https://reddit.com/r/Lisk" class="gl_link" target="_blank">Reddit</a></li>
                            <li class="footer_m_item"><a href="https://blog.lisk.io/" class="gl_link" target="_blank">Medium</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer_bottom">
            <div class="logo_holder"><a href="#" class="logo"><img src="/i/logo.png" alt="Lisk"/></a></div>
            <div class="copyright">Copyright © {{year}} Lisk. All rights reserved.</div>
        </div>
    </div>
</footer>
