<footer class="footer">
    <div class="footer_inner">
        <div class="footer_menu_holder">
            <div class="abs_container">
                <div class="gl_table_cell">
                    <div class="footer_menu_block">
                        <div class="text_center footer_menu_caption footerMenuCaption">Learn</div>
                        <ul class="text_center footer_m_list">
                            <li class="footer_m_item"><a href="http://support.lisk.io/" class="gl_link" target="_blank">FAQ</a></li>
                            <li class="footer_m_item"><a href="/documentation?i=lisk-docs/README" class="gl_link" target="_blank">Install Lisk</a></li>
                            <li class="footer_m_item"><a href="https://blog.lisk.io/lisk-academy-76641857d477" class="gl_link" target="_blank">Lisk Academy</a></li>
                            <li class="footer_m_item"><a href="/documentation?i=lisk-dapps-docs/README" class="gl_link" target="_blank">Code Dapps</a></li>
                            <li class="footer_m_item"><a href="/documentation?i=lisk-whitepaper/README" class="gl_link" target="_blank">Whitepaper</a></li>
                        </ul>
                    </div>
                    <div class="footer_menu_block">
                        <div class="text_center footer_menu_caption footerMenuCaption">Resources</div>
                        <ul class="text_center footer_m_list">
                            <li class="footer_m_item"><a href="https://login.lisk.io/"  class="gl_link" target="_blank">Web Login</a></li>
                            <li class="footer_m_item"><a href="https://explorer.lisk.io/"  class="gl_link" target="_blank">Blockchain Explorer</a></li>
                            <li class="footer_m_item"><a href="https://faucet.lisk.io/" class="gl_link" target="_blank">Faucet</a></li>
                            <li class="footer_m_item"><a href="/mediakit" class="gl_link">Media Kit</a></li>
                            <li class="footer_m_item"><a href="https://github.com/LiskHQ" class="gl_link" target="_blank">GitHub</a></li>
                        </ul>
                    </div>
                    <div class="footer_menu_block">
                        <div class="text_center footer_menu_caption footerMenuCaption">Get Involved</div>
                        <ul class="text_center footer_m_list">
                            <li class="footer_m_item"><a href="https://lisk.chat/" class="gl_link" target="_blank">Chat</a></li>
                            <li class="footer_m_item"><a href="https://forum.lisk.io/" class="gl_link" target="_blank">Forum</a></li>
                            <li class="footer_m_item"><a href="http://support.lisk.io/" class="gl_link" target="_blank">Support</a></li>
                            <li class="footer_m_item"><a href="https://bitcointalk.org/index.php?topic=1346646" class="gl_link" target="_blank">Bitcointalk Thread</a></li>
                            <li class="footer_m_item"><a href="/contact_us" class="gl_link">Contact Us</a></li>
                        </ul>
                    </div>
                    <div class="footer_menu_block">
                        <div class="text_center footer_menu_caption footerMenuCaption">Social Media</div>
                        <ul class="text_center footer_m_list">
                            <li class="footer_m_item"><a href="https://www.facebook.com/Lisk-1118720888180640/" class="gl_link" target="_blank">Facebook</a></li>
                            <li class="footer_m_item"><a href="https://twitter.com/LiskHQ" class="gl_link" target="_blank">Twitter</a></li>
                            <li class="footer_m_item"><a href="https://plus.google.com/u/0/b/117072384375798857010/117072384375798857010/about/p/pub?hl=en" class="gl_link" target="_blank">Google+</a></li>
                            <li class="footer_m_item"><a href="https://reddit.com/r/Lisk" class="gl_link" target="_blank">Reddit</a></li>
                            <li class="footer_m_item"><a href="https://blog.lisk.io/" class="gl_link" target="_blank">Medium</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer_bottom">
            <div class="logo_holder"><a href="/" class="logo"><img src="/i/logo.png" alt="Lisk"/></a></div>
            <div class="copyright">Copyright © {{year}} Lisk. All rights reserved.</div>
        </div>
    </div>
</footer>
