<footer class="footer">
    <div class="footer_inner">
        <div class="footer_menu_holder">
            <div class="abs_container">
                <div class="gl_table_cell">
                    <div class="footer_menu_block">
                        <div class="text_center footer_menu_caption footerMenuCaption">About</div>
                        <ul class="text_center footer_m_list">
                            <li class="footer_m_item"><a href="/team"  class="gl_link">Team</a></li>
                            <li class="footer_m_item"><a href="/foundation"  class="gl_link">Lisk Foundation</a></li>
                            <li class="footer_m_item"><a href="https://blog.lisk.io/" class="gl_link" target="_blank">Official Blog</a></li>
                        </ul>
                    </div>
                    <div class="footer_menu_block">
                        <div class="text_center footer_menu_caption footerMenuCaption">Resources</div>
                        <ul class="text_center footer_m_list">
                            <li class="footer_m_item"><a href="https://explorer.lisk.io/"  class="gl_link" target="_blank">Blockchain Explorer</a></li>
                            <li class="footer_m_item"><a href="https://docs.lisk.io/" class="gl_link" target="_blank">Documentation</a></li>
                            <li class="footer_m_item"><a href="https://github.com/LiskHQ" class="gl_link" target="_blank">GitHub</a></li>
                            <!--<li class="footer_m_item"><a href="/mediakit" class="gl_link">Media Kit</a></li>-->
                        </ul>
                    </div>
                    <div class="footer_menu_block">
                        <div class="text_center footer_menu_caption footerMenuCaption">Get Involved</div>
                        <ul class="text_center footer_m_list">
                            <li class="footer_m_item"><a href="https://lisk.chat/" class="gl_link" target="_blank">Community Chat</a></li>
                            <li class="footer_m_item"><a href="http://gitter.im/LiskHQ/lisk" class="gl_link" target="_blank">Developer Chat</a></li>
                            <li class="footer_m_item"><a href="/careers" class="gl_link">Careers</a></li>
                        </ul>
                    </div>
                    <div class="footer_menu_block">
                        <div class="text_center footer_menu_caption footerMenuCaption">Social Media</div>
                        <ul class="text_center footer_m_list">
                            <li class="footer_m_item"><a href="https://reddit.com/r/Lisk" class="gl_link" target="_blank">Reddit</a></li>
                            <li class="footer_m_item"><a href="https://twitter.com/LiskHQ" class="gl_link" target="_blank">Twitter</a></li>
                            <li class="footer_m_item"><a href="https://www.facebook.com/Lisk-1118720888180640/" class="gl_link" target="_blank">Facebook</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer_bottom">
            <div class="logo_holder"><a href="/" class="logo"><img src="/i/logo_footer.png" alt="Lisk"/></a></div>
            <div class="copyright">Copyright © {{year}} Lisk Foundation. All rights reserved.</div>
            <div class="contactus"><a href="/contact_us" class="gl_link">Contact</a></div>
        </div>
    </div>
</footer>
