<header class="header">
    <div class="header_inner"><a href="/" class="logo"><img src="/i/logo.png" alt="Lisk - Decentralized Application Platform" class="big_logo"/><img src="/i/logo_small.png" alt="Lisk - Decentralized Application Platform" class="small_logo"/></a>
        <div class="main_menu_holder">
            <ul class="main_menu">
                <li class="menu_item"><a href="/features" class="menu_link"><span class="link_text">Features </span></a></li>
                <li class="menu_item"><a href="/get-started" class="menu_link"><span class="link_text">Get Started </span></a></li>
                <li class="menu_item"><a href="/about" class="menu_link"><span class="link_text">About </span></a></li>
                <li class="menu_item"><a href="/documentation?i=README" class="menu_link"><span class="link_text">Documentation </span></a></li>
                <li class="menu_item"><a href="http://blog.lisk.io/" class="menu_link" target="_blank"><span class="link_text">Blog </span></a></li>
            </ul>
            <div class="user_menu"><a href="/download" class="inherit_link">Download</a><span> &nbsp; <!--or--></span><a href="/ico" class="btn_v1 login_btn tahiti_btn animated bounce">ICO</a></div><a href="#" class="mob_menu_toggle mobMenuBtn material-icons">menu</a>
        </div>
    </div>
</header>
