<header class="header">
    <div class="header_inner"><a href="/" class="logo"><img src="/i/logo.png" alt="Lisk - Blockchain Application Platform" class="big_logo"/><img src="/i/logo_small.png" alt="Lisk - Decentralized Application Platform" class="small_logo"/></a>
        <div class="main_menu_holder">
            <ul class="main_menu">
                <li class="menu_item"><a href="/get_started" class="menu_link"><span class="link_text">Get Started</span></a></li>
                <li class="menu_item"><a href="/learn_more" class="menu_link"><span class="link_text">Learn More</span></a></li>
                <li class="menu_item"><a href="https://docs.lisk.io/docs/faq" class="menu_link" target="_blank"><span class="link_text"><span class="fa fa-external-link"></span> FAQ</span></a></li>
                <li class="menu_item hide_on_mobile"><a href="/download" class="btn_v1 login_btn orange_btn">Download</a></li>
            </ul>
            <!--<div class="user_menu"><a href="https://login.lisk.io/" class="btn_v1 login_btn orange_btn" target="_blank">Login</a></div>--><a href="#" class="mob_menu_toggle mobMenuBtn material-icons">menu</a>
        </div>
    </div>
</header>