<div class="share_subscribe_block fw_600">
    <div class="fl">Want to know us better?</div>
    <div class="fr"><a href="https://www.reddit.com/r/Lisk" class="share_subscribe_link" target="_blank"><i class="fa fa-reddit fa-lg"></i><span>Reddit</span></a><a href="https://twitter.com/LiskHQ" class="share_subscribe_link" target="_blank"><i class="fa fa-twitter fa-lg"></i><span>Twitter</span></a><!-- <a href="https://plus.google.com/u/0/b/112818205922585372230/112818205922585372230/about" class="share_subscribe_link" target="_blank"><i class="fa fa-google-plus fa-lg"></i><span>Google+</span></a> --></div>
</div>
