<main class="wrapper h_420">
    <div class="base">
        <div class="section white_section_2">
            <div class="section_inner">
                <div class="section_content text_block"><a href="https://twitter.com/intent/tweet?text=Take%20a%20look%20at%20the%20team%20building%20Crypti%27s%20decentralized%20application%20platform!&amp;url=http://crypti.me/about" class="material-icons consensus_btn">share</a>
                    <div class="about_block">
                        <div class="section_caption text_gray">Making Crypti great with your help!</div>
                        <p>This page collects all the information you need to thoroughly test Crypti v0.5.0 during this period. If you think something is missing, please contact us and we will add it as soon as possible. In the case you need testnet XCR for the <a href="http://testnet.crypti.me/"><strong>Foundation's testnet</strong></a>, please ask!</p>
                        <p><strong>Attention! Please note that Gaia is an early beta release! You will encounter quite a few items that are not working properly or are missing. We are working constantly on Crypti and improve it every day.</strong></p>
                        <p class="text_center_mob btns_v1"><a href="/download" class="btn_v2 subscribe_btn blue_btn fw_600" target="_blank">Download</a><a href="https://github.com/crypti/crypti-dapps-docs" class="btn_v2 subscribe_btn gray_btn fw_600" target="_blank">Documentations</a></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="section white_section">
            <div class="section_inner">
                <div class="section_content text_block">
                    <div class="about_block fz_18">
                        <div class="section_caption text_gray">Development Tools</div>
                        <div class="text_block">
                            <p><strong>Crypti-cli</strong></p>
                            <p><a href="https://www.npmjs.com/package/crypti-cli"><strong>Crypti-cli</strong></a> is a command line tool which allows you to easily create your own local Crypti testnet and deploy your dapp there. Our <a href="https://github.com/crypti/crypti-dapps-docs"><strong>dapp documentation</strong></a> explains how to install and use it.</p>
                            <p><strong>Crypti Toolkit</strong></p>
                            <p>The Crypti Dapp Toolkit provides you with pre-written code templates which you can utilize for your own dapps. By using our toolkit, you won't have to code all the components of your dapp from scratch, but instead rely on our existing implementations. More information can be found in our <a href="https://github.com/crypti/crypti-dapps-docs/blob/master/DappToolkit.md"><strong>Introduction to Dapp Toolkit</strong></a> tutorial.</p>
                        </div>
                        <div class="section_caption text_gray">Testing</div>
                        <div class="text_block">
                            <p>To ensure testing is both rigorous and worthwhile. Here are some example test cases from which further testing is now required:</p>
                            <p><strong>Frontend Tests</strong></p>
                            <p>If you want to test the graphical user interface, user experience and design related issues, we recommend you to access our <a href="http://testnet.crypti.me/"><strong>online testnet client</strong></a>, as this way you don't need to download anything. We also recommend using the online testnet client if you just want to take a look at the new features, without really testing anything.</p>
                            <p><strong>Backend Tests</strong></p>
                            <p>If you are more interested in testing the backend of our client, as in the API. Then all you need to do is to download Crypti v0.5.0 and install it on a <a href="/download"><strong>Linux</strong></a> or <a href="/download"><strong>Mac OS</strong></a> machine. Although we already have an extensive test suite of automated API tests in place. The API still requires testing to check if the API calls are functioning and performing as they should.</p>
                            <p><strong>Dapp Tests</strong></p>
                            <p>This is by far the most important category to test. Here you can help us by <a href="https://github.com/crypti/crypti-dapps-docs/blob/master/EnvironmentSetup.md"><strong>setting up your development environment</strong></a>, creating your own testnet with crypti-cli and launching your first decentralized applications. It would also be worthwhile checking through the full compliment of our <a href="http://docs.crypti.me/"><strong>dapp API calls</strong></a>, and studying our extensive dapp documentation to learn more about Crypti based dapps, and also how to develop your own.</p>
                            <p><strong>Multi-signature Tests</strong></p>
                            <p>For startups and groups this is an important feature, so let's make it production ready. Create your own multi-signature account and send some transactions around. Right now it's not possible to edit the multi-signature account, so please be aware of that.</p>
                        </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {{> footer }}
    </div>
    <div class="hero_block text_center">
        <div class="abs_container">
            <div class="gl_table_cell">
                <div class="section_inner">
                    <h1 class="hero_title">Beta v0.5.0</h1>
                    <div class="hero_text">Testing Crypti with the Community</div>
                </div>
            </div>
        </div>
        {{> menu }}
    </div>
</main>
