<main class="wrapper h_420">
    <div class="base">
        <div class="section white_section_2">
            <div class="section_inner">
                <div class="section_content text_block">
                    <div class="about_block">
                        <div class="section_caption text_gray">We want to make Lisk better, with you!</div>
                        <p>Following the same underlying principle of Lisk, decentralised and public, we are opening our bounty program. Everyone from the Lisk community now can earn bounties for finding bugs and reporting them back to us, contributing to our code base and creating pull requests on GitHub, or maintaining an active Lisk testnet delegate in the top 101. </p>
                        <p class="text_center text_center_mob btns_v1"><a href="https://github.com/LiskHQ/lisk" class="btn_v2 wide_btn blue_btn" target="_blank">GitHub</a> <a href="https://lisk.io/documentation?i=lisk-docs/TestNetwork" class="btn_v2 wide_btn gray_btn" target="_blank">Testnet Information</a></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="section gray_section">
            <div class="section_inner">
                <div class="section_content clearfix text_block">
                  <div class="about_block">
                      <div class="section_caption text_gray">Rules</div>
                      <p>
                        • First come, first serve. Bugs and issues which were already submitted or known to the Lisk team are not eligible for bounties.<br>
                        • The testnet is for testing! If a bug was used on the mainnet, there will be no bounty reward.<br>
                        • A contribution is accepted if it leads to a code or config change in the Lisk client.<br>
                        • The following GitHub repositories are part of the bounty program: lisk, lisk-ui, lisk-cli, lisk-sdk, lisk-nano<br>
                      </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="section white_section_2">
            <div class="section_inner">
                <div class="section_content text_block">
                    <div class="about_block">
                        <div class="section_caption text_gray">Open Bounties</div>
                        <p>...</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="section gray_section">
            <div class="section_inner">
                <div class="section_content clearfix text_block">
                  <div class="about_block">
                      <div class="section_caption text_gray">FAQ</div>
                      <p>...</p>
                    </div>
                </div>
            </div>
        </div>
        {{> footer }}
    </div>
    <div class="hero_block text_center">
        <div class="abs_container">
            <div class="gl_table_cell">
                <div class="section_inner">
                    <h1 class="hero_title">Bounties</h1>
                    <div class="hero_text">Help us refining Lisk!</div>
                </div>
            </div>
        </div>
        {{> menu }}
    </div>
</main>
