<main class="wrapper h_420">
    <div class="base">
        <div class="section white_section_2">
            <div class="section_inner">
                <div class="section_content text_block">
                    <div class="about_block">
                        <div class="section_caption text_gray">We’re excited to have you, come work with us!</div>
                        <p>We built Lisk because we want to bring crypto-currencies into the real world, e.g. for the Internet of Things. Building a world class product starts with finding highly passionate and motivated people. We love what we do, and this should also apply for you! If you want to contribute to Lisk, feel free to contact us!</p>
                        <p class="text_center text_center_mob btns_v1"><a href="/contact_us" class="btn_v2 wide_btn blue_btn" target="_blank">Contact us</a></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="section gray_section">
            <div class="section_inner">
                <div class="section_content clearfix">
                    <div class="section_caption text_gray text_center">Open Positions</div>
                    {{#each jobs}}
                    <div class="team_slider teamSlider">
                        <div class="team_slide">
                            <div class="team_slide_img"><img src="i/careers/{{img}}.png"></div>
                            <div class="team_slide_info">
                                <div class="team_slide_name">{{position}}</div>
                                <div class="team_slide_post">{{skills}}</div>
                                <p>{{description}}</p>
                            </div>
                        </div>
                    </div>
                    {{/each}}
                </div>
            </div>
        </div>
        {{> footer }}
    </div>
    <div class="hero_block text_center">
        <div class="abs_container">
            <div class="gl_table_cell">
                <div class="section_inner">
                    <h1 class="hero_title">Careers</h1>
                    <div class="hero_text">We are actively hiring!</div>
                </div>
            </div>
        </div>
        {{> menu }}
    </div>
</main>
