<main class="wrapper h_420">
    <div class="base">
        <div class="section white_section_2">
            <div class="section_inner">
                <div class="section_content text_block"><a href="https://twitter.com/intent/tweet?text=I%20participate%20in%20the%20Crypti%20Dapp%20Contest!%20Join%20as%20well!%20https://crypti.me/contest" class="material-icons consensus_btn">share</a>
                    <div class="about_block">
                        <div class="countdown">
                          <h2>Contest ends in:</h2>
                          <p><span id="countdown">~</span></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="section white_section">
            <div class="section_inner">
                <div class="section_content text_block">
                    <div class="about_block fz_18">
                        <div class="text_block">
                            <p>The Crypti Foundation is holding a Crypti Dapp Contest, in which Node.JS and JavaScript developers can submit Crypti based dapps, in order to win lucrative XCR prizes.</p>
                            <p>Individual members of the foundation are donating a large share of the prize. However, we strongly urge any community members to donate what they can, as a bigger prize fund will lead to much higher quality submissions.</p>
                            <p>Contest Fund: <a href="http://cryptichain.me/address/7143304632787156641C" target="_blank">7143304632787156641C</a> (currently 1,000,000 XCR ~ $2600)</p>
                        </div>
                        <div class="section_caption text_gray">Details</div>
                          <div class="text_block">
                              <p>The Dapp Contest will run for 16 weeks. That means until the 8th February 2016. Which should allow sufficient time for the competition to run within the Crypto-currency, Node.js and JavaScript communities. We are therefore, looking for high quality dapps that will showcase what the Crypti Dapps Platform is capable of achieving. When the Dapp Contest ends, we will give the community 2 weeks to vote for their favorite dapps. The foundation will announce the winners on the 22th February 2016.</p>
                              <p>The funds are held at the following Crypti address: <a href="http://cryptichain.me/address/7143304632787156641C" target="_blank">7143304632787156641C</a>, any community members are encouraged to donate what they can.</p>
                          </div>
                        <div class="section_caption text_gray">Rules</div>
                          <div class="text_block">
                            <p>
                              • The dapp must be a Crypti based dapp only.<br>
                              • The dapp must be open sourced at the end of the contest.<br>
                              • The dapp must be written and owned by the developer themselves.<br>
                              • Each submission must be provided, along with a valid Crypti address, before the end of the contest.
                            </p>
                          </div>
                        <div class="section_caption text_gray">Winning Categories</div>
                          <div class="text_block">
                              <p>The winning categories can be found below. The percentages shown, represent the proportion of the final collected prize fund the individual prize winner can expect to receive. It is therefore, only possible to collect one prize per submission. If one developer happens to win twice, they will receive the higher prize. With the next winning developer receiving the next prize down, and so on. In the situation where one developer submits two dapps, and they both win independently, then that developer will be eligible to receive both prizes.</p>
                              <p><strong>Community's choice</strong></p>
                              <p>The community will vote for 3 dapps thought to be the best overall.</p>
                              <p>
                                • First Prize: 25%<br>
                                • Second Prize: 10%<br>
                                • Third Prize: 5%
                              </p>
                              <p><strong>Foundation's choice</strong></p>
                              <p>The community will vote for 3 dapps thought to be the best overall.</p>
                              <p>
                                • First Prize: 30%<br>
                                • Second Prize: 20%<br>
                                • Third Prize: 10%
                              </p>
                          </div>
                        <div class="section_caption text_gray">Dapp Resources</div>
                          <div class="text_block">
                              <p>All necessary information about dapp development can be found on our GitHub:</p>
                              <p>
                                • <a href="https://github.com/crypti/crypti-dapps-docs/blob/master/README.md">Dapp Documentation and Tutorials</a><br>
                                • <a href="https://github.com/crypti/MessagingDApp">Messaging Dapp Source Code</a><br>
                                • <a href="https://github.com/crypti/EncryptiDApp">Encrypti Dapp Source Code</a><br>
                                • <a href="https://github.com/MaxKK/decentralizedTwitter">Decentralized Twitter Dapp Source Code</a><br>
                                • <a href="https://github.com/crypti/crypti-cli">Crypti-cli Source Code</a><br>
                              <p>
                              <p>Even more information can be found on:</p>
                              <p>
                                • <a href="https://blog.crypti.me/crypti-white-paper-v2-1/">Crypti Whitepaper</a><br>
                                • <a href="https://blog.crypti.me/an-introduction-to-gaia-crypti-v0-5-0/">An Introduction to Gaia, Crypti v0.5.0</a><br>
                                • <a href="https://blog.crypti.me/crypti-v0-5-0-open-beta-test/">Crypti v0.5.0 Open Beta Test</a>
                              </p>
                              <p>If you have any further questions regarding our Dapp Contest. Please visit us on <a href="https://crypti.chat">Crypti.Chat</a>.</p>
                          </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
        {{> footer }}
    </div>
    <div class="hero_block text_center">
        <div class="abs_container">
            <div class="gl_table_cell">
                <div class="section_inner">
                    <h1 class="hero_title">Dapp Contest</h1>
                    <div class="hero_text">Develop your own Dapp and participate in our contest!</div>
                </div>
            </div>
        </div>
        {{> menu }}
    </div>
</main>
