<main class="wrapper h_420">
    <div class="base">
        <div class="section white_section">
            <div class="section_inner"><a href="mailto:business@lisk.io" class="material-icons consensus_btn">email</a>
                <div class="contact_section text_block">
                    <div class="about_block">
                        <div class="section_caption text_gray">Get in touch with us</div>
                        <div class="form_v1 label_hidden">
                            <form id="contact_form" onsubmit="return false;">
                                <div class="form_cell half_cell">
                                    <label for="contact_name" class="form_label">Name</label>
                                    <input type="text" id="contact_name" placeholder="Name" name="name" pattern=".{1,}" maxlength="64" class="form_input" required>
                                    <div id="contact_inline_error_name" class="contact_error"></div>
                                </div>
                                <div class="form_cell half_cell">
                                    <label for="contact_email" class="form_label">Email</label>
                                    <input id="contact_email" type="email" placeholder="Email" name="email" pattern=".{1,}" class="form_input" required>
                                    <div id="contact_inline_error_email" class="contact_error">Please enter a valid email address.</div>
                                </div>
                                <div class="form_cell cb">
                                    <label for="contact_company_name" class="form_label">Company Name</label>
                                    <input type="text" id="contact_company_name" placeholder="Company Name" name="company" class="form_input">
                                    <div id="contact_inline_error_company_name" class="contact_error"></div>
                                </div>
                                <div class="form_cell">
                                    <label for="contact_msg" class="form_label">Message </label>
                                    <textarea id="contact_msg" placeholder="Message" name="message" class="form_input" required></textarea>
                                    <div id="contact_inline_error_msg" class="contact_error"></div>
                                </div>
                                <div class="form_cell">
                                    <div class="contact_error_response"></div>
                                    <div class="contact_success_response">Thank you for contacting us!</div>
                                    <label for="contact_apply_btn" class="form_label">Message </label>
                                    <button type="submit" id="contact_apply_btn" class="btn_v2 news_btn lilac_btn">Submit</button>
                                </div>
                            </form>
                        </div>
                    </div>
                    {{> social }}
                </div>
            </div>
        </div>
        <div class="section map_holder">
            <div id="g_map" class="map_block"></div>
        </div>
        {{> footer }}
    </div>
    <div class="hero_block text_center">
        <div class="abs_container">
            <div class="gl_table_cell">
                <div class="section_inner">
                    <h1 class="hero_title">Contact Us</h1>
                    <div class="hero_text">Have a question? A message? Write to us!</div>
                </div>
            </div>
        </div>
        {{> menu }}
    </div>


    <script type="text/javascript">
        (function($) {
            var re = /([^&=]+)=?([^&]*)/g;
            var decodeRE = /\+/g;  // Regex for replacing addition symbol with a space
            var decode = function (str) {return decodeURIComponent( str.replace(decodeRE, " ") );};
            $.parseParams = function(query) {
                var params = {}, e;
                while ( e = re.exec(query) ) {
                    var k = decode( e[1] ), v = decode( e[2] );
                    if (k.substring(k.length - 2) === '[]') {
                        k = k.substring(0, k.length - 2);
                        (params[k] || (params[k] = [])).push(v);
                    }
                    else params[k] = v;
                }
                return params;
            };
        })(jQuery);

        function IsEmail(email) {
            var regex = /^([a-zA-Z0-9_.+-])+\@(([a-zA-Z0-9-])+\.)+([a-zA-Z0-9]{2,4})+$/;
            return regex.test(email);
        };

        $("#contact_form").on("submit", function (event) {
            event.preventDefault();
            var error = false;
            var queryParams =  $.parseParams($(this).serialize());
            if (!IsEmail(queryParams.email)){
                $('#contact_inline_error_email').addClass('contact_inline_error');
                $('#contact_email').addClass('contact_inline_error');
                error= true;}
            else {
                $('#contact_inline_error_email').removeClass('contact_inline_error');
                $('#contact_email').removeClass('contact_inline_error');
            }

            if ((queryParams.name)<1){
                $('#contact_inline_error_name').addClass('contact_inline_error');
                $('#contact_name').addClass('contact_inline_error');
                $('#contact_inline_error_name').text('Complete name');
                error= true;}
            else {
                $('#contact_inline_error_email').removeClass('contact_inline_error');
                $('#contact_email').removeClass('contact_inline_error');
            }
            if (error){
                return;}

            if ((queryParams.name)>64){
                $('#contact_inline_error_name').addClass('contact_inline_error');
                $('#contact_name').addClass('contact_inline_error');
                $('#contact_inline_error_name').text('Name is too long it should be less than 65 characters in length');
                error= true;}
            else {
                $('#contact_inline_error_email').removeClass('contact_inline_error');
                $('#contact_email').removeClass('contact_inline_error');
            }
            if (error){
                return;}

            if ((queryParams.company)>64){
                $('#contact_inline_error_company_name').addClass('contact_inline_error');
                $('#contact_company_name').addClass('contact_inline_error');
                $('#contact_inline_error_company_name').text('Company name is too long it should be less than 65 characters in length');
                error= true;}
            else {
                $('#contact_inline_error_company_name').removeClass('contact_inline_error');
                $('#contact_company_name').removeClass('contact_inline_error');
            }
            if (error){
                return;}


            if ((queryParams.message)<1){
                $('#contact_inline_error_msg').addClass('contact_inline_error');
                $('#contact_msg').addClass('contact_inline_error');
                $('#contact_inline_error_msg').text('Complete message');
                error= true;}
            else {
                $('#contact_inline_error_msg').removeClass('contact_inline_error');
                $('#contact_msg').removeClass('contact_inline_error');
            }
            if (error){
                return;}

            $.post( "/contact_us", $.parseParams($(this).serialize()))
                    .done(function( data ) {
                        if (data.success){

                            $('.contact_error_response').removeClass('error');
                            $('.contact_success_response').addClass('success');
                            $("#contact_form")[0].reset();
                        }
                        else {
                            $('.contact_error_response').text(data.error);
                            $('.contact_error_response').addClass('error');
                            $('.contact_success_response').removeClass('success');
                        }
                    })
                    .fail(function() {
                        console.log('error');
                    })
        });
    </script>
</main>
