<main class="wrapper h_420">
    <div class="base">
        <div class="section gray_section">
            <div class="section_inner">
                <div class="section_content text_block">
                    <div class="about_block">
                        <div class="section_caption text_gray">A consensus algorithm for the people!</div>
                        <p>Lisk utilises Delegated Proof of Stake (DPoS). A low-cost, energy efficient, ultra fast consensus algorithm in which delegates are securing the decentralised network. <br><br>Everyone can become a delegate and collect votes from the Lisk community. However, only 101 delegates with the most votes on the network get elected. They generate new blocks in a process called <a href="{{documentation}}" class="gl_link text_blue" target="_blank">forging</a> and can expect to earn over 12,000 LSK per month. You could become one yourself. All you have to do is setup a node, begin forging and get elected.</p>
                        <p class="text_center text_center_mob btns_v1"><a href="" id="becomeADelegateBtn" class="btn_v2 normal_btn blue_btn" target="_blank">Become a Delegate</a> <a href="http://forum.lisk.io/viewforum.php?f=48" class="btn_v2 normal_btn white_btn" target="_blank">Delegate Proposals</a> <a href="https://explorer.lisk.io/delegateMonitor" class="btn_v2 normal_btn white_btn" target="_blank">Delegate Monitor</a></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="section white_section_2" id="becomeADelegate">
            <div class="section_inner">
                <div class="section_content text_block">
                    <div class="about_block">
                        <div class="section_caption text_gray">Become a Delegate, Earn Forging Rewards</div>
                        <p>To become a delegate several steps are necessary to be successful. On the technical side you need to setup a Linux node, install the latest Lisk client on it and maintain it. Additionally, you have to register a delegate account on the Lisk network, configure your Lisk client and activate forging. In order to collect enough votes to be elected you may also write down a proposal on the <a href="https://forum.lisk.io/" class="gl_link text_blue" target="_blank">Lisk forums</a> and become a regular Lisk community member.<br><br>
<a href="" class="gl_link text_blue" target="_blank"></a>
                        1.)&nbsp;&nbsp;Deploy a Linux node and install the <a href="/download" class="gl_link text_blue" target="_blank">latest Lisk client</a> on it. (<a href="{{documentation}}" class="gl_link text_blue" target="_blank">Documentation</a>, <a href="http://forum.lisk.io/viewforum.php?f=38" class="gl_link text_blue" target="_blank">Guides</a>)<br>
                        2.)&nbsp;&nbsp;Create a <a href="https://academy.lisk.io/creating-a-new-lisk-account-173820ca424a" class="gl_link text_blue" target="_blank">new Lisk account</a> and <a href="https://forum.lisk.io/viewtopic.php?f=38&t=1119&p=8869#p8869" class="gl_link text_blue" target="_blank">register it as a delegate account</a>.<br>
                        3.)&nbsp;&nbsp;Enable forging on your Lisk client with the just registered delegate account.<br>
                        4.)&nbsp;&nbsp;Write down a <a href="https://forum.lisk.io/viewforum.php?f=48" class="gl_link text_blue" target="_blank">proposal on the Lisk forum</a> why exactly you have to become an active delegate.<br>
                        5.)&nbsp;&nbsp;Collect <a href="http://i.imgur.com/7J10UTQ.jpg" class="gl_link text_blue" target="_blank">votes</a> and get elected into the top 101.<br>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="section gray_section">
            <div class="section_inner">
                <div class="section_content text_block">
                    <div class="about_block">
                        <div class="section_caption text_gray">Participate in our Contest</div>
                        <p>On block 1,451,520 the forging rewards will be activated with the subsequent activation of community forging. It's a big step forward for Lisk and we are celebrating it with a delegate campaign and a proposal contest. The goal is to get as many delegates with updated proposals as possible so our users have an extensive catalogue of choice.</p>
                          <ul class="get_started_steps steps_delegates">
                              <li class="get_started_unit">
                                  <div class="get_started_step_title step_blue">
                                      <div class="mb">
                                          <div class="get_started_step_name">Delegate Campaign</div>
                                      </div>
                                  </div>
                                  <div class="get_started_step_description">
                                      <p>The goal of this campaign is to get as many delegates as possible and for existing delegates to update their proposals so that LSK holders have the information they need to make an informed decision. If you want to become a delegate you need to setup a Lisk node, register a delegate account on the network and collect enough votes to get elected into the top 101 active delegation.<br><br>
                                      In order to register a delegate account a fee of 25 LSK is paid to the Lisk network. Additionally it’s recommended that you write a proposal on the Lisk forum to increase your chances to be elected as a forging delegate.<br><br>
                                      Until block 1,451,520 is reached we are giving every registered delegate the 25 LSK fee back. The only requirement is to have an up-to-date proposal on the Lisk forums, for which you may receive a bonus of 25 LSK.<br><br></p>
                                  </div>
                              </li>
                              <li class="get_started_unit">
                                  <div class="get_started_step_title step_blue">
                                      <div class="mb">
                                          <div class="get_started_step_name">Proposal Contest</div>
                                      </div>
                                  </div>
                                  <div class="get_started_step_description">
                                      <p>Accompanying the delegate registration campaign, and following block 1,451,520, we are having a contest for proposals submitted and the 13 most interesting proposals will receive a bonus reward and featured on our blog!<br><br>
                                      The best three proposals will get 5,000 LSK, while the next 10 proposals will get 1,000 LSK each.</p>
                                  </div>
                              </li>
                              <li class="get_started_unit">
                                  <div class="get_started_step_title step_blue">
                                      <div class="mb">
                                          <div class="get_started_step_name">Contest Rules</div>
                                      </div>
                                  </div>
                                  <div class="get_started_step_description">
                                      <p>The contest begins on November 17th, 2016 and ends on December 5th, 2016.<br><br>
                                         Purchase of 25 LSK necessary; reimbursed once a delegate proposal has been submitted.<br><br>
                                         Delegate proposals must be written on the Proposal child board and follow the given template (viewable upon creating a new topic).<br><br>
                                         If you have already written a proposal and have adopted the Proposal template, contact <a href="https://forum.lisk.io/memberlist.php?mode=viewprofile&u=108" class="gl_link text_blue" target="_blank">joel</a> or <a href="https://forum.lisk.io/memberlist.php?mode=viewprofile&u=251" class="gl_link text_blue" target="_blank">redsn0w</a> through a forum personal message and they will move your proposal to the adequate board.<br><br>
                                         You will not be eligible for the campaign or the contest if the proposal is not in the correct child board. Bonus of 25 LSK limited to first 200 delegate proposals and one per person during the contest period.</p>
                                  </div>
                              </li>
                              <li class="get_started_unit">
                                  <div class="get_started_step_title step_blue">
                                      <div class="mb">
                                          <div class="get_started_step_name">Participate now!</div>
                                      </div>
                                  </div>
                                  <div class="get_started_step_description">
                                      Simply head to the <a href="https://forum.lisk.io/viewforum.php?f=48" class="gl_link text_blue" target="_blank">Lisk forum</a> and post your proposal!<br><br>
                                  </div>
                              </li>
                          </ul>
                        <p class="text_center text_center_mob btns_v1"><a href="https://blog.lisk.io/community-delegate-contest-prepare-yourself-4f2da59ff507" class="btn_v2 normal_btn blue_btn" target="_blank">Blog Post</a> <a href="http://forum.lisk.io/viewforum.php?f=48" class="btn_v2 normal_btn white_btn" target="_blank">Delegate Proposals</a> <a href="https://explorer.lisk.io/delegateMonitor" class="btn_v2 normal_btn white_btn" target="_blank">Delegate Monitor</a></p>                    </div>
                </div>
            </div>
        </div>
        {{> footer }}
    </div>
    <div class="hero_block text_center">
        <div class="abs_container">
            <div class="gl_table_cell">
                <div class="section_inner">
                    <h1 class="hero_title">Become a Delegate</h1>
                    <div class="hero_text">Secure the network and earn LSK every day!</div>
                </div>
            </div>
        </div>
        {{> menu }}
    </div>
</main>
