<main class="wrapper h_420">
    <div class="base">
        <div class="section white_section">
            <div class="section_inner">
                <ul class="get_started_steps">
                    <li class="get_started_unit">
                        <div class="get_started_step_title step_blue">
                            <div class="mb">
                                <div class="get_started_step_name" id="exchanges">Initial Coin Offering (ICO)</div>
                            </div>
                        </div>
                        <div class="get_started_step_description">
                          <p><strong>1. What is an ICO?</strong></p>
                          <p>ICO is the abbreviation of Initial Coin Offering. It's an often used method to distribute the tokens of Proof-of-Stake based crypto-currencies. In the ICO individuals exchange Bitcoin (BTC), Crypti (XCR) and Ethereum (ETH) for Lisk (lisk).</p>
                          <p><strong>2. Do I invest, donate or exchange my money for lisk?</strong></p>
                          <p>To be on the safe side by law the Lisk team isn't allowed to use the word <i>invest</i>. Therefore we will only talk of a donation or an exchange.</p>
                          <p><strong>3. When will the ICO begin and end?</strong></p>
                          <p>The ICO will begin on February 15th, 2016. This will give us two weeks to build momentum and get as many interested parties as possible. The ICO will then continue for 4 weeks and end on March, 14th 2016.</p>
                          <p><strong>4. Why do we accept XCR?</strong></p>
                          <p>We accept Crypti's token as an act of honor, because Lisk is a fork of Crypti. We think that Lisk will become the dominant player making the Crypti tokens worth less over time. Therefore we offer the Crypti community the option to exchange their XCR for a fixed rate of 0,000012 BTC per XCR for lisk only during the ICO.</p>
                          <p><strong>5. Why do we accept BTC and ETH?</strong></p>
                          <p>We expect the XCR we collect to become worth a lot less after we successfully launch Lisk. In order to kick-start the development of our platform we are in need of money. The same goes for marketing and public relations. From the beginning we will heavily communicate the open source development of Lisk and over time we are confident to completely rely on the development power of independent open source developers.</p>
                          <p><strong>6. What are the exact ICO terms?</strong></p>
                          <p>Please take a look at our <a href="https://blog.lisk.io/" class="gl_link text_blue" target="_blank">ICO terms article</a> on our blog.</p>
                        </div>
                    </li>
                    <li class="get_started_unit">
                        <div class="get_started_step_title step_gray">
                            <div class="mb">
                                <div class="get_started_step_name" id="exchanges">The difference between Lisk and Crypti</div>
                            </div>
                        </div>
                        <div class="get_started_step_description">
                          <p><strong>1. Completely and always open source</strong></p>
                          <p>Lisk is and will always be completely open source. The whole development procedure is happening in public on <a href="https://github.com/LiskHQ" class="gl_link text_blue" target="_blank">GitHub</a> for everyone to review and participate.</p>
                          <p><strong>2. Public in every aspect possible</strong></p>
                          <p>Everything we officially do, we do in public. We will hold a bi-weekly meeting with everyone who wants to join on the Lisk Chat and summarize the results in a blog post. Additionally we will publish a transparency report on our blog every month to show our spendings and Google analytics statistics. We also plan to have public <a href="https://trello.com/" class="gl_link text_blue" target"_blank">boards</a> in which we manage Lisk.</p>
                          <p><strong>3. Strong community involvement</strong></p>
                          <p>The community isn't just a part of Lisk. The community <strong>is</strong> Lisk. Therefore we want to involve single individuals and the entire community into the future of Lisk. During our bi-weekly meetings you can express your concerns, wishes, and plans with us. If you want to build something for Lisk we will provide you with all materials possible and if you can persuade us of your idea which you can't implement yourself we will do it.</p>
                          <p><strong>4. A startup instead of a foundation model</strong></p>
                          <p>Formerly the meetings were afflicted by lengthy discussions and long voting procedures. Therefore many things took far longer than necessary. Our new model will reduce this and create an agile environment. Thanks to a clear management structure with a CEO and CTO (other positions will follow after launch), we can also approach companies, investors and various startup programms self-confidently. This way we can build new connections, collect new investments and build out Lisk much more reliable.</p>
                          <p><strong>5. Strong management</strong></p>
                          <p>Before there was never a clear <i>yes</i> or <i>no</i>. Thanks to our startup model and management structure Lisk now has clear leaders which can give directions and get things done. The management will (and already is in) contact with great connections to get us added to 3rd party services.</p>
                          <p><strong>6. New features</strong></p>
                          <p>Please take a look at our <a href="https://blog.lisk.io/" class="gl_link text_blue" target="_blank">roadmap</a> on our blog.</p>
                        </div>
                    </li>
                    <li class="get_started_unit">
                        <div class="get_started_step_title step_green">
                            <div class="mb">
                                <div class="get_started_step_name" id="exchanges">General</div>
                            </div>
                        </div>
                        <div class="get_started_step_description">
                          <p><strong>1. What is Lisk?</strong></p>
                          <p>Lisk is a crypto-currency and decentralized application platform. As a crypto-currency, much like Bitcoin and other alternatives, it provides a decentralized payment system and digital money network. The network itself, operates using a highly efficient Delegated-Proof-of-Stake (DPoS) consensus model, that is secured by 101 democratically elected delegates. The Lisk decentralized application platform, it's most powerful component, allows the deployment, distribution and monetisation of decentralized applications onto the Lisk blockchain.</p>
                          <p><strong>2. Who created Lisk?</strong></p>
                          <p>Lisk is a more open alternative to Crypti created by former members of the <a href="https://crypti.me/about" class="gl_link text_blue" target="_blank">Crypti Foundation</a>, namely Max Kordek and Olivier Beddows.</p>
                          <p><strong>3. Who controls the Lisk network?</strong></p>
                          <p>The Lisk network is both decentralized and trustless. That means no single entity is in direct control. The network is secured by 101 democratically elected delegates. Whose primary responsibility is to confirm and broadcast the validity of transactions. All Lisk accounts on the network are eligible to vote for delegates registered on the Lisk blockchain. The 101 delegates with the most votes are elected with the responsibility of confirming the validity of transactions broadcast on the network. They also receive 100% of all fees collected by the network.</p>
                          <p><strong>4. Why do people trust Lisk?</strong></p>
                          <p>Much of the trust in Lisk comes from the fact that it requires no trust at all. Lisk is fully open-source and decentralized. This means that everyone has access to the entire source code at any time. Developers around the world are therefore free to inspect and verify exactly how Lisk works. All transactions can be transparently audited in real-time by anyone. All payments can be made without reliance on a third party and the whole system is protected by heavily peer-reviewed cryptographic algorithms like those used for online banking.</p>
                        </div>
                    </li>
                    <li class="get_started_unit">
                        <div class="get_started_step_title step_lilac">
                            <div class="mb">
                                <div class="get_started_step_name">Economy</div>
                            </div>
                        </div>
                        <div class="get_started_step_description">
                          <p><strong>1. What is lisk?</strong></p>
                          <p>Every blockchain-based crypto-currency needs a token of value. At Bitcoin the tokens are called BTC or XBT. At Lisk they are simply called lisk. The abbreviation XLK is used as the ticker for Lisk on various exchanges.</p>
                          <p><strong>2. How are lisk created?</strong></p>
                          <p>During the ICO we will distribute 100,000,000 lisk to ICO participants, the core team and active community members. Once the network is established with 101 delegates there will be a slight inflation of about 5000 newly created lisk every day. These will be equally distributed through all delegates. We implementend this mechanism to create an incentive to run a delegate and securing the network.</p>
                          <p><strong>3. Where can I buy lisk?</strong></p>
                          <p>Right now lisk can only be acquired in the ICO.</p>
                        </div>
                    </li>
                    <li class="get_started_unit">
                        <div class="get_started_step_title step_blue">
                            <div class="mb">
                                <div class="get_started_step_name">Decentralized Applications</div>
                                <!--<div class="get_started_step_tip">(Username, 2nd Passphrase, Contacts & Voting)</div>-->
                            </div>
                        </div>
                        <div class="get_started_step_description">
                          <p><strong>1. What are decentralized applications?</strong></p>
                          <p>Decentralized applications are exactly what the name suggests. Applications of any sort running on many servers, providing unseen security, uptime and entirely new business models. Lisk decentralized applications allow the deployment, computation, distribution and monetisation of decentralized applications on the Lisk blockchain.</p>
                          <p><strong>2. What is the difference between decentralized applications, dapps and smart contracts?</strong></p>
                          <p><i>Dapps</i> is the abbreviation of <i>decentralized applications</i>, that means these terms are referring to the same thing. Decentralized applications consist of the whole package of frontend (what you see of an application) and backend (the logic in the background). A smart contract on the other hand, consists only of the backend, and often only a small part of it. That means if you want to create a decentralized application on a smart contract system (i.e. not on Lisk the dapp platform), you have to combine several smart contracts and rely on 3rd party systems for the frontend.</p>
                          <p><strong>3. How do Lisk dapps work?</strong></p>
                          <p>Please take a look at our <a href="http://github.com/LiskHQ/lisk-whitepaper" class="gl_link text_blue" target="_blank">white paper</a>.</p>
                          <p><strong>4. How can I make my own dapps?</strong></p>
                          <p>Lisk dapps are developed in JavaScript for the backend and standard web technologies for the frontend. Please take a look at our <a href="{{documentation}}" class="gl_link text_blue" target="_blank">documentation</a> to get detailed guides and tutorials to develop your own dapp.</p>
                          <p><strong>5. Are there any dangers posed by using dapps?</strong></p>
                          <p>Yes. Any passphrases entered into a dapp have the potential to be captured and stolen by the dapp's developer. Which is why you should only ever use open source dapps from well-known trusted developers.</p>
                        </div>
                    </li>
                    <li class="get_started_unit">
                        <div class="get_started_step_title step_gray">
                            <div class="mb">
                                <div class="get_started_step_name">Security</div>
                            </div>
                        </div>
                        <div class="get_started_step_description">
                          <p><strong>1. What is a brainwallet?</strong></p>
                          <p>Lisk uses brain wallets to create accounts and let users access them. That means your account has one passphrase which let you access it. If someone else is typing in the exact same passphrase, they will gain access to your account. That means your passphrase has to be very long and secure, to make it mathematically impossible that someone else will <i>accidentally</i> use the same one. Please note, if you lose access to your first passphrase you won't be able to recover your money.</p>
                          <p><strong>2. What is a second passphrase?</strong></p>
                          <p>The second passphrase is an additional security layer. Every account can have a second passphrase which needs to be entered whenever you make a transaction. If you store the second passphrase on another device or on a piece of paper, it is similar to a 2-factor-authentification. Please note, if you lose access to your second passphrase you won't be able to recover your money.</p>
                          <p><strong>3. What are Multi-Signature groups?</strong></p>
                          <p>Multi-Signature groups consist of the group owner and up to 15 subordinates, that means a total of 16 (N) accounts. The subordinates need to confirm every transaction from the group owner's account. Every multi-signature group can specify how many (M) confirmations they need. If not enough confirmations are collected, the transaction will not be sent.</p>
                        </div>
                    </li>
                    <li class="get_started_unit">
                        <div class="get_started_step_title step_green">
                            <div class="mb">
                                <div class="get_started_step_name">Network Fees</div>
                            </div>
                        </div>
                        <div class="get_started_step_description">
                            <p><strong>Regular transactions</strong></p>
                            <p>0.1% of the sent lisk amount</p>
                            <p><strong>Username Registration</strong></p>
                            <p>100 lisk</p>
                            <p><strong>Delegate Registration</strong></p>
                            <p>100 lisk</p>
                            <p><strong>Add a Contact</strong></p>
                            <p>1 lisk</p>
                            <p><strong>Dapp Registration</strong></p>
                            <p>500 lisk</p>
                            <p><strong>Second Passphrase Setup</strong></p>
                            <p>5 lisk</p>
                            <p><strong>Multi-Signature Registration</strong></p>
                            <p>5 lisk for each Multi-Signature member</p>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        {{> footer }}
    </div>
    <div class="hero_block text_center">
        <div class="abs_container">
            <div class="gl_table_cell">
                <div class="section_inner">
                    <h1 class="hero_title">Frequently Asked Questions</h1>
                    <div class="hero_text">Everything you need to know</div>
                </div>
            </div>
        </div>
        {{> menu }}
    </div>
</main>
