<main class="wrapper h_420">
    <div class="base">
        <div class="section gray_section">
            <div class="section_inner">
                <div class="section_content clearfix text_block"><a href="https://twitter.com/intent/tweet?text=Lisk%20has%20many%20awesome%20features.%20Take%20a%20look%20and%20you%20will%20be%20surprised!&amp;url=https://lisk.io/features" target="_blank" class="material-icons consensus_btn">share</a>
                    <div class="usability_block fl">
                        <div class="section_caption text_gray">Decentralized Applications</div>
                        <div class="sub_caption">Dapps of All Kinds</div>
                        <p>Decentralized applications - often simply called dapps - are set to disrupt the whole application market. They are based on blockchain technology resulting in an 100% runtime. At Lisk you can develop your own decentralized applications with modern web technologies like HTML5, CSS3 and JavaScript. </p>
                        <div class="sub_caption">Dapp Store</div>
                        <p>An aggregation of all decentralized applications published on the Lisk network, the Dapp Store will help you find anything, from games over simple tools to powerful financial applications.</p>
                        <p class="text_center_mob"><a href="{{dappstore}}" target="_blank" class="btn_v2 wide_btn blue_btn">To the Dapp Store</a></p>
                    </div>
                    <div class="fr feature_img_holder"><img src="i/features/catalogue.png" alt="Decentralized Applications"></div>
                </div>
            </div>
        </div>
        <div class="section white_section">
            <div class="section_middle_img"><img src="i/features/usability_mac.png" alt="Sidechains"></div>
            <div class="section_inner">
                <div class="section_content clearfix text_block">
                    <div class="usability_block fr">
                        <div class="section_caption text_gray">Sidechains</div>
                        <div class="sub_caption">One Chain for every Decentralized Application</div>
                        <p>Every decentralized application is running in its own and unique blockchain - often called sidechain. Encapsulating the decentralized application sidechains from the main blockchain of Lisk keeps the network lean, efficient and fast.</p>
                        <div class="sub_caption">Customizable</div>
                        <p>The decentralized application developer has complete control over the sidechain. He can fully customize it to his needs, by default the sidechain is running on our variant of Delegated-Proof-of-Stake with a maximum of 101 master nodes.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="section gray_section">
            <div class="section_inner">
                <div class="section_content clearfix text_block">
                    <div class="fr feature_img_holder"><img src="i/features/catalogue.png" alt="Usability"></div>
                    <div class="usability_block fl">
                        <div class="section_caption text_gray">Usability</div>
                        <div class="sub_caption">Intuitive User Experience</div>
                        <p>The Lisk client has been built from the ground up to provide an easy to use, intuitive interface. By simplifying the typical wallet experience, Lisk provides a user experience that is second to none.</p>
                        <div class="sub_caption">Convenient for Everyone</div>
                        <p>Lisk was built with you in mind. By utilizing core features such as usernames and contact lists, managing your presence in the Lisk network is an intuitive and modern experience.</p>
                        <p class="text_center_mob"><a href="{{login}}" target="_blank" class="btn_v2 wide_btn blue_btn">See for Yourself</a></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="section white_section">
             <div class="section_inner">
                 <div class="section_content clearfix text_block">
                     <div class="fl feature_img_holder"><img src="i/features/security.png" alt="Security"></div>
                     <div class="usability_block fr">
                         <div class="section_caption text_gray">Security</div>
                         <div class="sub_caption">Second Passphrase</div>
                         <p>As an added security measure, Lisk allows users to set a second passphrase on their account. In the event that your first passphrase is compromised, your second passphrase is still required for every transaction.</p>
                         <div class="sub_caption">Multi-Signature Groups</div>
                         <p>To provide maximum security for startups and individual users we implemented multi-signature transaction authentication. You can create a multi-signature group with up to 16 accounts and configure it to your needs.</p>
                         <!-- <p class="text_center_mob"><a href="{{documentation}}" class="btn_v2 subscribe_btn fw_600 lilac_btn">Documentation</a></p> -->
                     </div>
                 </div>
             </div>
         </div>
        <div class="section gray_section">
            <div class="section_inner">
                <div class="section_content text_block">
                    <div class="api_block">
                        <div class="section_caption text_gray text_center">Open Source</div>
                        <p class="text_center">The Lisk Team is a strong supporter of open source software. Due to the fact that Lisk is also a financial platform, it is self-evident that the source code is public for everyone. If you want to work on Lisk please get in contact with us, we will gladly integrate you in our development process.</p>
                        <div class="api_holder">{{> sandbox }}</div>
                        <div class="text_center"><a href="https://github.com/LiskHQ/lisk" target="_blank" class="btn_v2 wide_btn blue_btn">Source Code</a></div>
                    </div>
                </div>
            </div>
        </div>
        <!-- <div class="section white_section_2">
            <div class="section_inner">
                <div class="section_content text_block">
                    <div class="consensus_block text_center">
                        <div class="section_caption text_gray">Consensus</div>
                        <p>Lisk utilizes a custom built version of the Delegated Proof-of-Stake (DPoS) system. All aspects of the network are decentralized through a form of consensus that puts the power back in the hands of the users. Not only are the individual blocks transmitted through the network secured through consensus provided by delegate voting, but the network is being built to delegate all major decision making power to the users through consensus voting.</p>
                        <p><a href="#" class="btn_v2 subscribe_btn blue_btn fw_600" target="_blank">Delegate List</a></p>
                    </div>
                </div>
            </div>
        </div> -->
        <div class="section white_section">
            <div class="section_inner">
                <div class="dapps_update_block">
                    <div class="section_caption text_gray text_center">A lot more to come!</div>
                    <div class="sub_caption text_center">Stay up to date by subscribing to our newsletter. Promise, we don’t spam.</div>
                       <div class="container mailchimp">
                         <div id="mc_embed_signup" class="update_subscribe_form clearfix">
                             <form action="//lisk.us12.list-manage.com/subscribe/post?u=201693389b5cea4883858163e&amp;id=14c69eecc3" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                                 <div id="mc_embed_signup_scroll">
                                     <div class="mc-field-group form_cell">
                                         <input type="email" placeholder="Your email" value="" name="EMAIL" class="f_input input_v1" id="mce-EMAIL">
                                     </div>
                                     <div id="mce-responses" class="clear">
                                         <div class="response" id="mce-error-response" style="display:none"></div>
                                         <div class="response" id="mce-success-response" style="display:none"></div>
                                     </div>
                                     <div class="clear form_cell text_center">
                                     <input type="submit" value="Subscribe" name="Sign me up!" id="mc-embedded-subscribe" class="btn_v2 fw_600 wide_btn blue_btn"></div>
                                     <div style="position: absolute; left: -5000px;"><input type="text" name="b_201693389b5cea4883858163e_14c69eecc3" tabindex="-1" value=""></div>
                                 </div>
                             </form>
                         </div>
                                {{> social }}
                         <script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script><script type='text/javascript'>(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';fnames[1]='FNAME';ftypes[1]='text';fnames[2]='LNAME';ftypes[2]='text';}(jQuery));var $mcj = jQuery.noConflict(true);</script>
                     </div>
                </div>
            </div>
        </div>
       {{> footer }}
    </div>
    <div class="hero_block text_center">
        <div class="abs_container">
            <div class="gl_table_cell">
                <div class="section_inner">
                    <h1 class="hero_title">Features</h1>
                    <div class="hero_text">Many awesome features we’d like to show you</div>
                </div>
            </div>
        </div>
        {{> menu }}
    </div>
</main>
