<main class="wrapper h_420">
    <div class="base">
        <div class="section gray_section">
            <div class="section_inner">
                <div class="section_content clearfix">
                    <!-- <div class="slider_prev material-icons">chevron_left</div>
                    <div class="slider_next material-icons">chevron_right</div> -->
                    <div class="team_slider_first teamSlider">
                        <div class="team_slide">
                            <div class="team_slide_img"><img src="i/members/max.jpg"></div>
                            <div class="team_slide_info">
                                <div class="team_slide_name">Max Kordek <a target="_blank" href="https://www.linkedin.com/in/maxkordek?locale=en_US" class="team_share_link fa fa-linkedin"></a><a target="_blank" href="https://twitter.com/MaxKordek" class="team_share_link fa fa-twitter"></a></div>
                                <div class="team_slide_post">PRESIDENT &middot; FOUNDER</div>
                                <p>Max is a futurist and thoroughbred entrepreneur who is interested in disruptive technologies. Having a rich experience in the blockchain industry and seeing the potential of blockchain-based applications, he co-founded Lisk. A blockchain application platform for JavaScript developers which caused a stir when it collected 14000 BTC in its crowd fund early 2016.</p>
                            </div>
                        </div>
                    </div>
                    <div class="team_slider teamSlider">
                        <div class="team_slide">
                            <div class="team_slide_img"><img src="i/members/oliver.jpg"></div>
                            <div class="team_slide_info">
                                <div class="team_slide_name">Oliver Beddows <a target="_blank" href="https://www.linkedin.com/in/oliver-beddows-19aa09107" class="team_share_link fa fa-linkedin"></a><a target="_blank" href="https://twitter.com/Karmacrypto" class="team_share_link fa fa-twitter"></a></div>
                                <div class="team_slide_post">VICE PRESIDENT &middot; FOUNDER</div>
                                <p>Oliver is a full stack developer with over 15 years experience in building mission critical enterprise applications. He co-founded Lisk with the view to inspire and enable developers to build the decentralised applications of their dreams, with an unparalleled degree of simplicity and ease. He is a husband, father, open-source advocate, blockchain enthusiast, and works tirelessly to build a better future for Lisk everyday.</p>
                            </div>
                        </div>
                    </div>
                    <div class="team_slider_last teamSlider">
                        <div class="team_slide">
                            <div class="team_slide_img"><img src="i/members/guido.jpg"></div>
                            <div class="team_slide_info">
                                <div class="team_slide_name">Guido Schmitz-Krummacher <a target="_blank" href="https://www.linkedin.com/in/guidos1" class="team_share_link fa fa-linkedin"></a></div>
                                <div class="team_slide_post">MEMBER</div>
                                <p>Guido is an experienced entrepreneur with more than 25 years of leadership experience in companies at different stages and segments. His background is international-law and economics (EMBA in finance) and he is based in Zug, Switzerland. Guido is interested in new technologies and is supporting start-ups engaged in blockchain-technologies at board level to set up their legal and financial environment.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {{> footer }}
    </div>
    <div class="hero_block text_center">
        <div class="abs_container">
            <div class="gl_table_cell">
                <div class="section_inner">
                    <h1 class="hero_title">The Lisk Foundation</h1>
                    <div class="hero_text">Overseeing Lisk since 2016</div>
                </div>
            </div>
        </div>
        {{> menu }}
    </div>
</main>
