<main class="wrapper h_420">
    <div class="base">
        <div class="section gray_section">
            <div class="section_inner">
                <div class="section_content text_block">
                    <div class="get_started_block">
                        <p>Welcome to Lisk! We are glad you found your way to one of the most promising blockchain application platforms out there. We believe great results are achieved by taking small steps. So we made it really easy for you to start out with Lisk. Below you will find 6 steps which we think are vital to be successful on the Lisk network. Please follow them carefully if this is your first time.</p>
                    </div>
                </div>
            </div>
        </div>
        <!-- <div class="section">
            <div class="video_block"><a href="http://youtube.com/" class="video_btn"><i class="fa fa-play-circle"></i></a>
                <div class="video_preview"><img src="i/get_start_video.jpg"></div>
            </div>
        </div> -->
        <div class="section white_section">
            <div class="section_inner">
                <ul class="get_started_steps">
                    <li class="get_started_unit">
                        <div class="get_started_step_title step_blue">
                            <div class="mb">
                                <div class="get_started_step_name" id="exchanges">Create a Lisk account</div>
                            </div>
                        </div>
                        <div class="get_started_step_description">
                            <p>Your start into Lisk begins with your first account. It builds the foundation for every interaction with the Lisk blockchain and Lisk services. You need to download the Lisk Wallet and launch the application to get started. </p>
                            <p><strong>Please note, in the process of creating an account you will receive a passphrase which grants access to your account. If you lose it you won't be able to recover your account.</strong></p>
                            <p class="btns_v1"><a href="/download" class="btn_v2 normal_btn orange_btn">Get Lisk Wallet</a></p>
                        </div>
                    </li>
                    <li class="get_started_unit">
                        <div class="get_started_step_title step_blue">
                            <div class="mb">
                                <div class="get_started_step_name">Get your LSK tokens</div>
                            </div>
                        </div>
                        <div class="get_started_step_description">
                            <p>The token that powers the Lisk network is called LSK. All actions taken on the network require LSK to process. You can buy LSK from most cryptocurrency exchanges, including <a href="https://poloniex.com/exchange#btc_lsk" class="gl_link text_blue" target="_blank">Poloniex</a> and <a href="https://bittrex.com/Market/Index?MarketName=BTC-LSK" class="gl_link text_blue" target="_blank">Bittrex</a>.</p>
                            <!--<p>If you want to learn more about cryptocurrency exchange platforms, please visit the <a href="https://academy.lisk.io/" class="gl_link text_blue" target="_blank">Lisk Academy</a>.<p>-->
                        </div>
                    </li>
                    <li class="get_started_unit">
                        <div class="get_started_step_title step_blue">
                            <div class="mb">
                                <div class="get_started_step_name">Configure your Lisk account</div>
                                <!--<div class="get_started_step_tip">Step 3</div>-->
                            </div>
                        </div>
                        <div class="get_started_step_description">
                            <p>Lisk has several advanced features that can enhance your user experience. We recommend you to add a second passphrase to increase the security and integrity of your account.</p>
                            <p><strong>Please note, if you lose access to your first or second passphrase you won't be able to recover your tokens.</strong></p>
                        </div>
                    </li>
                    <li class="get_started_unit">
                        <div class="get_started_step_title step_blue">
                            <div class="mb">
                                <div class="get_started_step_name">Meet our tools</div>
                                <!-- <div class="get_started_step_tip">...</div> -->
                            </div>
                        </div>
                        <div class="get_started_step_description">
                            <p>We have developed various tools to make Lisk even more advanced but still easy to use. You can find them all on our <a href="https://explorer.lisk.io/" class="gl_link text_blue" target="_blank">Blockchain Explorer</a>. View the richest accounts, see the latest transactions, take a look at all delegates and their statistics, watch the Lisk markets, and observe the network status. More features will be added to our Blockchain Explorer in the future.</p>
                            <p><i>Have you developed a tool and do you think this would be a good addition to our existing tools? Please <a href="https://lisk.io/contact_us" class="gl_link text_blue" target="_blank">contact us</a>.</i></p>
                            <p><a href="https://explorer.lisk.io" class="btn_v2 normal_btn blue_btn" target="_blank">Blockchain Explorer</a></p>
                        </div>
                    </li>
                    <li class="get_started_unit">
                        <div class="get_started_step_title step_blue">
                            <div class="mb">
                                <div class="get_started_step_name">Get involved</div>
                            </div>
                        </div>
                        <div class="get_started_step_description">
                            <p>Lisk is a community focused experience and the users don’t just interact with the network, they are directly responsible for its success. By getting involved in the community, users can help grow the Lisk network and improve the experience for everyone. A great place to get started is by joining our <a href="https://lisk.chat/" class="gl_link text_blue" target="_blank">Lisk Chat</a>. After that, give us a like on <a href="https://www.facebook.com/Lisk-1118720888180640/" class="gl_link text_blue" target="_blank">Facebook</a>, follow us on <a href="https://twitter.com/LiskHQ" class="gl_link text_blue" target="_blank">Twitter</a>, or become a subscriber on <a href="https://www.reddit.com/r/Lisk" class="gl_link text_blue" target="_blank">Reddit</a>. Most importantly, keep up to date on news and developments through our <a href="https://blog.lisk.io/" class="gl_link text_blue" target="_blank">official Blog</a> on Medium.</p>
                        </div>
                    </li>
                    <li class="get_started_unit">
                        <div class="get_started_step_title step_blue">
                            <div class="mb">
                                <div class="get_started_step_name">Finished! What is next?</div>
                            </div>
                        </div>
                        <div class="get_started_step_description">
                            <p>Congratulations, you went through the first 5 steps and are now up and running. Easy right? If you would like to get more involved in building the future of the Lisk network, joining our <a href="http://gitter.im/LiskHQ/lisk" class="gl_link text_blue" target="_blank">Gitter</a> would be a possible next step! If you already know JavaScript, you are well on your way to deploying your first application. If not, join one of our meetups and come in contact with great developers. To find out more and learn how you can get started working with our extensive APIs, read our <a href="https://docs.lisk.io/" class="gl_link text_blue" target="_blank">developer documentation</a>.</p>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        {{> footer }}
    </div>
    <div class="hero_block text_center">
        <div class="abs_container">
            <div class="gl_table_cell">
                <div class="section_inner">
                    <h1 class="hero_title">The first steps</h1>
                    <div class="hero_text">Become a Lisk expert</div>
                </div>
            </div>
        </div>
        {{> menu }}
    </div>
</main>
