<main class="wrapper h_420">
    <div class="base">
        <div class="section gray_section">
            <div class="section_inner">
                <div class="section_content text_block"><a href="https://twitter.com/intent/tweet?text=Looking%20to%20get%20started%20with%20Lisk?%20Simply%20follow%20our%205%20step%20guide%20and%20get%20involved!&amp;url=https://lisk.io/get_started" class="material-icons consensus_btn">share</a>
                    <div class="get_started_block">
                        <p>Welcome to Lisk! We are glad you found your way to us and hope that Lisk is the right platform for you! <!--Below you find a short introduction video about Lisk.--> Further down you find 6 steps which we think are vital for a great Lisk experience. Please follow them carefully if this is your first time with Lisk.</p>
                        <!--<p class="text_center"><iframe width="100%" height="438px" src="https://www.youtube.com/embed/O9o5X4xHJnc?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe></p>-->
                        <p class="text_center text_center_mob btns_v1"><a href="https://lisk.chat/" class="btn_v2 normal_btn blue_btn" target="_blank">Join our Chat</a> <a href="https://forum.lisk.io/" class="btn_v2 normal_btn white_btn" target="_blank">Our Forum</a></p>
                    </div>
                </div>
            </div>
        </div>
        <!-- <div class="section">
            <div class="video_block"><a href="http://youtube.com/" class="video_btn"><i class="fa fa-play-circle"></i></a>
                <div class="video_preview"><img src="i/get_start_video.jpg"></div>
            </div>
        </div> -->
        <div class="section white_section">
            <div class="section_inner">
                <ul class="get_started_steps">
                    <li class="get_started_unit">
                        <div class="get_started_step_title step_blue">
                            <div class="mb">
                                <div class="get_started_step_name" id="exchanges">Step 1 - Create an Account</div>
                            </div>
                        </div>
                        <div class="get_started_step_description">
                            <p>Your start into Lisk begins with your first account. It builds the foundation for every interaction with the Lisk blockchain and Lisk services. You have two options to make an account. You can use our web login or download one of our many clients to your Windows, Mac, Linux or ARM device. </p>
                            <p><strong>Right now you can only access the testnet though our web login. Once we finished the ICO and distributed all LISK you will be able to enter the mainnet and download our clients. </strong></p>
                            <p><strong>Please note, if you lose access to your first passphrase you won't be able to recover your money.</strong></p>
                            <p class="btns_v1"><a href="https://login.lisk.io" class="btn_v2 normal_btn blue_btn" target="_blank">Login</a><a href="/download" class="btn_v2 normal_btn gray_btn">Download</a></p>
                        </div>
                    </li>
                    <li class="get_started_unit">
                        <div class="get_started_step_title step_blue">
                            <div class="mb">
                                <div class="get_started_step_name">Step 2 - Get LISK</div>
                            </div>
                        </div>
                        <div class="get_started_step_description">
                            <p>The currency that powers the Lisk network is simply called LISK. All actions taken on the network require LISK to process. You will be able to get LISK with our ICO, which begins February 22nd. Right now you can only make test transactions on our testnet and get free testnet LISK on our <a href="https://faucet.lisk.io/" class="gl_link text_blue" target="_blank">faucet</a>.</p>
                            <p>Later on there will be several different ways to get LISK. Users can discover bounties on the Lisk community forum which payout LISK. It's also possible to participate in competitions and giveaways within the community. Otherwise, LISK will be available on various cryptocurrency exchanges.<!-- The current market price of 1 LISK is {{price_btc}} BTC or ${{price_usd}}. --></p>
                            <!-- <ul class="lisk_list">
                                <li class="lisk_item"><a href="https://poloniex.com/exchange#btc_lisk" class="lisk_link" target="_blank"><div class="logo_poloniex"></div></a></li>
                                <li class="lisk_item"><a href="https://bter.com/trade/lisk_btc" class="lisk_link" target="_blank"><div class="logo_bter"></div></a></li>
                                <li class="lisk_item"><a href="#" class="lisk_link"><img src="i/logo.png"></a></li>
                            </ul> -->
                        </div>
                    </li>
                    <li class="get_started_unit">
                        <div class="get_started_step_title step_blue">
                            <div class="mb">
                                <div class="get_started_step_name">Step 3 - Configure Your Account</div>
                                <!-- <div class="get_started_step_tip">(Username, 2nd Passphrase, Contacts & Voting)</div> -->
                            </div>
                        </div>
                        <div class="get_started_step_description">
                            <p>Your Lisk account has several advanced features that can enhance your user experience. You can start by personalizing your account by adding a username and adding your friends to your contact list for easy sending and receiving of LISK. You can also add a second passphrase to increase the security and integrity of your account.</p>
                            <p><strong>Please note, if you lose access to your first or second passphrase you won't be able to recover your money.</strong></p>
                        </div>
                    </li>
                    <li class="get_started_unit">
                        <div class="get_started_step_title step_blue">
                            <div class="mb">
                                <div class="get_started_step_name">Step 4 - Meet our Tools</div>
                                <!-- <div class="get_started_step_tip">(Username, 2nd Passphrase, Contacts & Voting)</div> -->
                            </div>
                        </div>
                        <div class="get_started_step_description">
                            <p>We have developed various tools to make the life with Lisk more comfortable, you can find them all on our Blockchain Explorer. View the richest accounts, see the latest transactions, take a look at all delegates and their statistics, watch the Lisk markets, and observe the network status. More features will be added to our Blockchain Explorer in the future.</p>
                            <p><i>You developed your own awesome tool and want to list it here? Contact us!</i></p> 
                            <p><a href="https://explorer.lisk.io" class="btn_v2 normal_btn blue_btn" target="_blank">Blockchain Explorer</a></p>
                        </div>
                    </li>
                    <li class="get_started_unit">
                        <div class="get_started_step_title step_blue">
                            <div class="mb">
                                <div class="get_started_step_name">Step 5 - Get Involved</div>
                            </div>
                        </div>
                        <div class="get_started_step_description">
                            <p>Lisk is a community focused experience and the users don’t just control the network, they are directly responsible for its success. By getting involved in the community, users can help grow the Lisk network and improve the experience for everyone. A great place to get started is by joining our <a href="https://lisk.chat/" class="gl_link text_blue" target="_blank">Lisk Chat</a>. After that, give us a like on <a href="https://www.facebook.com/Lisk-1118720888180640/" class="gl_link text_blue" target="_blank">Facebook</a>, follow us on <a href="https://twitter.com/LiskHQ" class="gl_link text_blue" target="_blank">Twitter</a>, or become a subscriber on <a href="https://www.reddit.com/r/Lisk" class="gl_link text_blue" target="_blank">Reddit</a>. Most importantly, keep up to date on news and developments through our <a href="https://blog.lisk.io/" class="gl_link text_blue" target="_blank">official Blog</a> on Medium.</p>
                        </div>
                    </li>
                    <li class="get_started_unit">
                        <div class="get_started_step_title step_blue">
                            <div class="mb">
                                <div class="get_started_step_name">Finished! Now you can become a Dapp Developer.</div>
                            </div>
                        </div>
                        <div class="get_started_step_description">
                            <p>If you have already done the 5 previous steps and would like to be more involved in building the future of the Lisk network, developing your own decentralized application is a possible next step! If you already know JavaScript, you are well on your way to deploying your first application. To find out more and learn how you can get started working with our extensive APIs, read our <a href="https://github.com/LiskHQ/lisk-whitepaper" class="gl_link text_blue" target="_blank">White Paper</a> and <a href="{{documentation}}" class="gl_link text_blue" target="_blank">Documentation</a>.</p>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        {{> footer }}
    </div>
    <div class="hero_block text_center">
        <div class="abs_container">
            <div class="gl_table_cell">
                <div class="section_inner">
                    <h1 class="hero_title">Get started with Lisk</h1>
                    <div class="hero_text">Here are some useful tips to get you started</div>
                </div>
            </div>
        </div>
        {{> menu }}
    </div>
</main>
