<main class="wrapper h_screen">
    <div class="base">
        <div data-step='1' class="section gray_section stepSection" id="readMore">
            <div class="section_inner">
                <div class="deploy_dapps">
                    <div class="section_caption text_center">The future potential of the Lisk application platform</div>
                    <div class="sub_caption text_gray_2 text_center">Three simple steps towards your own blockchain application</div>
                    <div class="deploy_steps">
                        <div class="deploy_step stepBtn step_1"><i class="material-icons">phonelink</i>
                            <p>Step 1</p>
                            <div class="deploy_step_name">Code</div>
                        </div>
                        <div class="deploy_step stepBtn step_2"><i class="material-icons">cloud_upload</i>
                            <p>Step 2</p>
                            <div class="deploy_step_name">Deploy</div>
                        </div>
                        <div class="deploy_step stepBtn step_3"><i class="material-icons">device_hub</i>
                            <p>Step 3</p>
                            <div class="deploy_step_name">Use</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="section step_section stepSlider">
            <div class="step_unit step_1">
                <div class="abs_container">
                    <div class="gl_table_cell">
                        <div class="section_inner">
                            <div class="step_description">
                                <h2 class="step_caption fw_600">Build Incredible Applications</h2>
                                <p>Decentralised blockchain applications will be built on Lisk from the ground up in pure Javascript and take advantage of the powerful Lisk APIs. In addition, every app will run in its own sidechain to ensure that Lisk itself stays safe and scalable. Currently in development, these features will become available towards Q4 of 2017.</p>
                                <a href="/learn_more" class="btn_v2 fw_600 wide_btn white_btn">Learn more</a>
                            </div>
                        </div>
                        <div class="step_code_block">{{> sandbox }}</div>
                    </div>
                </div>
            </div>
            <div class="step_unit step_2">
                <div class="abs_container">
                    <div class="gl_table_cell">
                        <div class="section_inner">
                            <div class="step_description">
                                <h2 class="step_caption fw_600">Easy, Rapid Deployment</h2>
                                <p>The Lisk platform will allow for a multitude of storage options for your blockchain applications. Deploy your code in a .zip archive to services such as GitHub or a web server and
                                once deployed you can register your applications on the Lisk platform by filling in necessary fields like name, description, tags and the download link.</p>
                                <a href="/learn_more" class="btn_v2 fw_600 wide_btn white_btn">Learn more</a>
                            </div>
                            <figure class="step_figure">
                                <p><img src="i/home/integrations.png" alt="Upload to one of the following services"></p>
                            </figure>
                        </div>
                    </div>
                </div>
            </div>
            <div class="step_unit step_3">
                <div class="abs_container">
                    <div class="gl_table_cell">
                        <div class="section_inner">
                            <div class="step_description">
                                <h2 class="step_caption fw_600">Unlock the Power of Lisk</h2>
                                <p>The Lisk network is a decentralized powerhouse. By utilizing our extensive user base, end users and developers can find third party nodes to execute future blockchain applications through servers all over the world in a truly decentralized manner.<br><br>
                                As a developer, grow the application's user base through the combined efforts of the Lisk Directory and the Lisk global community network.</p>
                                <a href="/learn_more" class="btn_v2 fw_600 wide_btn white_btn">Learn more</a>
                            </div>
                            <ul class="work_process">
                                <li class="work_process_step">
                                    <figure class="work_process_fig">
                                        <p class="fig_img"><img src="i/home/process_step_1.png" alt="Store your code on GitHub or your own web server."></p>
                                        <figcaption>Store your code on GitHub or a web server.</figcaption>
                                    </figure>
                                </li>
                                <li class="work_process_step work_process_step_2">
                                    <figure class="work_process_fig">
                                        <p class="fig_img"><img src="i/home/process_step_2.png" alt="Utilize Lisk master nodes to secure your sidechain and execute the code."></p>
                                        <figcaption>Secured by worldwide decentralized computation of code.</figcaption>
                                    </figure>
                                </li>
                                <li class="work_process_step work_process_step_3">
                                    <figure class="work_process_fig">
                                        <p class="fig_img"><img src="i/home/process_step_3.png" alt="Serve up a seamless experience to users like any other app."></p>
                                        <figcaption>Monetize applications by providing a seamless experience for users.</figcaption>
                                    </figure>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="section gray_section">
            <div class="section_inner">
                <div class="section_content clearfix ">
                    <div class="partners_block">
                        <div class="section_caption text_center text_gray">Collaborations</div>
                        <ul class="partners_list">
                            {{#each collaborations}}
                            <li class="partners_item"><a href="{{url}}" target="_blank" class="partners_link"><img src="i/partners/{{img}}.png" alt="{{name}}"></a></li>
                            {{/each}}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="section clearfix white_section" id="newsletter">
            <div class="section_inner">
                <div class="dapps_update_block">
                    <div class="section_caption text_center text_gray">Newsletter</div>
                    <div class="sub_caption text_center">Subscribe now and stay updated on important news</div>
                    <div class="container mailchimp">
                        <div id="mc_embed_signup" class="update_subscribe_form clearfix">
                            <form action="//lisk.us12.list-manage.com/subscribe/post?u=201693389b5cea4883858163e&amp;id=14c69eecc3" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                              <div id="mc_embed_signup_scroll">
                                  <div class="mc-field-group form_cell">
                                      <input type="email" placeholder="Your email" value="" name="EMAIL" class="f_input input_v1" id="mce-EMAIL">
                                  </div>
                                  <div id="mce-responses" class="clear">
                                      <div class="response" id="mce-error-response" style="display:none"></div>
                                      <div class="response" id="mce-success-response" style="display:none"></div>
                                  </div>
                                  <div class="clear form_cell text_center">
                                  <input type="submit" value="Subscribe" name="Sign me up!" id="mc-embedded-subscribe" class="btn_v2 fw_600 wide_btn orange_btn"></div>
                                  <div style="position: absolute; left: -5000px;"><input type="text" name="b_201693389b5cea4883858163e_14c69eecc3" tabindex="-1" value=""></div>
                              </div>
                            <script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script><script type='text/javascript'>(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';fnames[1]='FNAME';ftypes[1]='text';fnames[2]='LNAME';ftypes[2]='text';}(jQuery));var $mcj = jQuery.noConflict(true);</script>
                            </form>
                        </div>
                      {{> social }}
                    </div>

                </div>
            </div>
        </div>
        {{> footer }}
    </div>
    <div class="hero_block text_center">
        <div class="abs_container">
            <div class="gl_table_cell">
                <div class="section_inner">
                    <h1 class="hero_title">Blockchain Application Platform</h1>
                    <div class="hero_text">Download our wallet to join the Lisk network</div>
                    <div class="hero_text"><img src="i/home/lisk-nano.png" alt="Lisk Nano" class="lisk_preview"></div>
                    <a href="/download" class="btn_v2 fw_600 wide_btn orange_btn">Download Lisk Wallet</a>
                </div>
            </div>
        </div>
        {{> menu }}
    </div>
</main>
