<main class="wrapper h_420">
    <div class="base">
        <div class="section gray_section">
            <div class="section_inner">
                <div class="section_content clearfix text_block"><a href="https://twitter.com/intent/tweet?text=I%27m%20part%20of%20the%20Lisk%20ICO!%20And%20you%3F%20You%20can%20exchange%20your%20%23Bitcoin%2C%20%23Crypti%20and%20%23Ethereum!&amp;url=https://lisk.io/ico" target="_blank" class="material-icons consensus_btn">share</a>
                    <div class="usability_block fl">
                        <div class="section_caption text_gray">Be Part of our Movement</div>
                        <div class="sub_caption">.. and become a lisker!</div>
                        <p>Lisk is your decentralized application and sidechain platform, providing a full stack solution for the <a href="http://stackoverflow.com/research/developer-survey-2015" class="gl_link text_blue">most widespread</a> programming language in the world - JavaScript. Having one of the best user experience with its easily manageable user interface and its integrated Dapp Store it is prepared to take over the crypto-currency world.</p>
                        <div class="sub_caption">Exchange Bitcoin, Crypti and Ethereum soon</div>
                        <p class="text_center_mob"><a href="#" id="investBitcoinBtn" target="_blank" class="btn_v2 fw_600 wide_btn bitcoin_btn">Bitcoin</a> <a href="#" id="investCryptiBtn" target="_blank" class="btn_v2 fw_600 wide_btn crypti_btn">Crypti</a> <a href="#" id="investEthereumBtn" target="_blank" class="btn_v2 fw_600 wide_btn ethereum_btn">Ethereum</a></p>
                    </div>
                    <div class="fr invest_img_holder"><img src="i/features/catalogue.png" alt="Catalogue"></div>
                </div>
            </div>
        </div>
        <div id="investBitcoin" class="section white_section">
            <div class="section_inner">
                <div class="section_content clearfix text_block">
                    <div class="fr invest_img_holder"><img src="i/ico/bitcoin_logo.png" alt="Bitcoin"></div>
                    <div class="usability_block fl">
                        <div class="section_caption text_gray">Exchange your Bitcoin (BTC)</div>
                        <div class="sub_caption">The most Prominent Crypto-Currency</div>
                        <p>In order to collect enough money to properly market Lisk we accept Bitcoin. In the future we will also looking forward to integrate Bitcoin functionalities directly into the Lisk client.</p>
                        <div class="sub_caption">Your advantages</div>
                        <p>To give further incentive to exchange BTC for lisk there will be a procentual bonus for every exchanged Bitcoin. In the first week 7.5%, in the second week 5%, in the third 2.5% and in the fourth 1%. You can find more details about the bonus in our blog post: <a href="https://blog.lisk.io/" class="gl_link text_blue">Exchange your BTC for lisk</a>.</p>
                        <p class="text_center_mob"><a href="#" target="_blank" class="btn_v2 normal_btn gray_btn">Exchange with us</a> <a href="#" target="_blank" class="btn_v2 normal_btn blue_btn">Exchange via Poloniex</a></p>
                    </div>
                </div>
            </div>
        </div>
        <div id="investCrypti" class="section gray_section">
            <div class="section_inner">
                <div class="section_content clearfix text_block">
                    <div class="fr invest_img_holder"><img src="i/ico/crypti_logo.png" alt="Crypti"></div>
                    <div class="usability_block fl">
                        <div class="section_caption text_gray">Exchange your Crypti (XCR)</div>
                        <div class="sub_caption">The Predecessor</div>
                        <p>Lisk is based on Crypti, therefore it's natural that we accept XCR as well. We were foundation members of Crypti and strong supporters, and are looking forward to further enhance the code base.</p>
                        <div class="sub_caption">Your advantages</div>
                        <p>Soon you can be a part of an enhanced Crypti with new features, a fresh look and a motivated team. Due to complete open source developments and public community involvements you will be a true part of Lisk! You can find more details about the XCR exchange in our blog post: <a href="https://blog.lisk.io/" class="gl_link text_blue">Exchange your XCR for lisk</a>.</p>
                        <p class="text_center_mob"><a href="#" target="_blank" class="btn_v2 normal_btn white_btn">Exchange with us</a> <a href="#" target="_blank" class="btn_v2 normal_btn blue_btn">Exchange via Poloniex</a></p>
                    </div>
                </div>
            </div>
        </div>
        <div id="InvestEthereum" class="section white_section">
             <div class="section_inner">
                 <div class="section_content clearfix text_block">
                     <div class="fr invest_img_holder"><img src="i/ico/ethereum_logo.png" alt="Ethereum"></div>
                     <div class="usability_block fl">
                         <div class="section_caption text_gray">Exchange your Ethereum (ETH)</div>
                         <div class="sub_caption">The Opponent</div>
                         <p>We see Ethereum as our main rival on the dapp market, thanks to our unique features and awesome user experience we see a big chance to get on the same level as Ethereum. With Lisk you are able to deploy Ethereum-like dapps completely coded in JavaScript.</p>
                        <div class="sub_caption">Your advantages</div>
                         <p>Soon you have the one-of-a-kind possibility to diversify into a similar (promising) technology like Ethereum. The Lisk team members are huge fans of Ethereum and are fully prepared to take it on. You can find more details about the ETH exchange in our blog post: <a href="https://blog.lisk.io/" class="gl_link text_blue">Exchange your ETH for lisk</a>.</p>
                        <p class="text_center_mob"><a href="#" target="_blank" class="btn_v2 normal_btn gray_btn">Exchange with us</a> <a href="#" target="_blank" class="btn_v2 normal_btn blue_btn">Exchange via Poloniex</a></p>
                     </div>
                 </div>
             </div>
         </div>
        <div class="section gray_section">
            <div class="section_inner">
                <div class="section_content text_block">
                    <div class="api_block">
                        <div class="section_caption text_gray text_center">Our ICO will start soon!</div>
                        <p class="text_center section_caption"><span id="countdown">6 days, 10 hours, 14 minutes, 22 seconds</span></p>
                        <div class="text_center"><a href="https://lisk.chat/" class="btn_v2 normal_btn blue_btn">Join our Chat</a> <a href="#" class="btn_v2 normal_btn white_btn">Go to Bitcoin Talk</a></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="section white_section">
            <div class="section_inner">
                <div class="dapps_update_block">
                    <div class="section_caption text_gray text_center">A lot more to come!</div>
                    <div class="sub_caption text_center">Stay up to date by subscribing to our newsletter. Promise, we don’t spam.</div>
                       <div class="container mailchimp">
                         <div id="mc_embed_signup" class="update_subscribe_form clearfix">
                             <form action="//lisk.us12.list-manage.com/subscribe/post?u=201693389b5cea4883858163e&amp;id=14c69eecc3" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                                 <div id="mc_embed_signup_scroll">
                                     <div class="mc-field-group form_cell">
                                         <input type="email" placeholder="Your email" value="" name="EMAIL" class="f_input input_v1" id="mce-EMAIL">
                                     </div>
                                     <div id="mce-responses" class="clear">
                                         <div class="response" id="mce-error-response" style="display:none"></div>
                                         <div class="response" id="mce-success-response" style="display:none"></div>
                                     </div>
                                     <div class="clear form_cell text_center">
                                     <input type="submit" value="Subscribe" name="Sign me up!" id="mc-embedded-subscribe" class="btn_v2 fw_600 wide_btn blue_btn"></div>
                                     <div style="position: absolute; left: -5000px;"><input type="text" name="b_201693389b5cea4883858163e_14c69eecc3" tabindex="-1" value=""></div>
                                 </div>
                             </form>
                         </div>
                                {{> social }}
                         <script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script><script type='text/javascript'>(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';fnames[1]='FNAME';ftypes[1]='text';fnames[2]='LNAME';ftypes[2]='text';}(jQuery));var $mcj = jQuery.noConflict(true);</script>
                     </div>
                </div>
            </div>
        </div>
       {{> footer }}
    </div>
    <div class="hero_block text_center">
        <div class="abs_container">
            <div class="gl_table_cell">
                <div class="section_inner">
                    <h1 class="hero_title">Initial Coin Offering</h1>
                    <div class="hero_text">Be a part of making Lisk big</div>
                </div>
            </div>
        </div>
        {{> menu }}
    </div>
</main>
