<main class="wrapper h_420">
    <div class="base">
        <div class="section gray_section">
            <div class="section_inner">
                <div class="section_content clearfix text_block"><a href="https://twitter.com/intent/tweet?text=Take%20a%20look%20at%20decentralized%20platform%20features!&amp;url=http://crypti.me/features" target="_blank" class="material-icons consensus_btn">share</a>
                    <div class="usability_block fl">
                        <div class="section_caption text_gray">Be a Part of Lisk</div>
                        <div class="sub_caption">Decentralized Application and Sidechain Platform</div>
                        <p>The next big thing: Decentralized applications - often simply called dapps - are set to disrupt the whole application market. They are unstoppable, open source, fully transparent, trustless and based on blockchain technology.</p>
                        <div class="sub_caption">Donate and receive lisk for gratitude!</div>
                        <p>The Crypti Dapp Store is the first of its kind. An aggregation of all decentralized applications published on the Crypti network, the Dapp Store will help you find anything, from decentralized prediction markets to online games.</p>
                        <p class="text_center_mob"><a href="#" id="investBitcoinBtn" target="_blank" class="btn_v2 subscribe_btn blue_btn fw_600">Invest with Bitcoin</a> <a href="#" id="investCryptiBtn" target="_blank" class="btn_v2 subscribe_btn green_btn fw_600">Invest with Crypti</a> <a href="#" id="investEthereumBtn" target="_blank" class="btn_v2 subscribe_btn lilac_btn fw_600">Invest with Ethereum</a></p>
                    </div>
                    <div class="fr invest_img_holder"><img src="i/catalogue.png" alt="catalogue description"></div>
                </div>
            </div>
        </div>
        <div id="investBitcoin" class="section white_section">
            <div class="section_inner">
                <div class="section_content clearfix text_block">
                    <div class="fr invest_img_holder"><img src="i/bitcoin_logo.png" alt="usability description"></div>
                    <div class="usability_block fl">
                        <div class="section_caption text_gray">Invest with Bitcoin</div>
                        <div class="sub_caption">With every Dapp comes a Chain</div>
                        <p>As an added security measure, Crypti allows users to set a second passphrase on their account. In the event that your first passphrase is compromised, your second passphrase is still required for every transaction.</p>
                        <div class="sub_caption">Customizable</div>
                        <p>As an added security measure, Crypti allows users to set a second passphrase on their account. In the event that your first passphrase is compromised, your second passphrase is still required for every transaction.</p>
                        <p class="text_center_mob"><a href="http://wallet.crypti.me" target="_blank" class="btn_v2 subscribe_btn blue_btn fw_600">Invest via Us</a> <a href="http://wallet.crypti.me" target="_blank" class="btn_v2 subscribe_btn green_btn fw_600">Invest via UpHold</a> <a href="http://wallet.crypti.me" target="_blank" class="btn_v2 subscribe_btn lilac_btn fw_600">Invest via Poloniex</a></p>
                    </div>
                </div>
            </div>
        </div>
        <div id="investCrypti" class="section gray_section">
            <div class="section_inner">
                <div class="section_content clearfix text_block">
                    <div class="fr invest_img_holder"><img src="i/crypti_logo.png" alt="catalogue description"></div>
                    <div class="usability_block fl">
                        <div class="section_caption text_gray">Invest with Crypti</div>
                        <div class="sub_caption">Intuitive User Experience</div>
                        <p>The Crypti client has been built from the ground up to provide an easy to use, intuitive interface. By simplifying the typical wallet experience, Crypti provides a user experience that is second to none.</p>
                        <div class="sub_caption">Convenient for Everyone</div>
                        <p>Crypti was built with you in mind. By utilizing core features such as usernames, contact lists, and built in messaging, managing your presence in the Crypti network is an intuitive and modern experience.</p>
                        <p class="text_center_mob"><a href="http://wallet.crypti.me" target="_blank" class="btn_v2 subscribe_btn blue_btn fw_600">Invest via Lisk</a> <a href="http://wallet.crypti.me" target="_blank" class="btn_v2 subscribe_btn lilac_btn fw_600">Invest via Poloniex</a></p>
                    </div>
                </div>
            </div>
        </div>
        <div id="InvestEthereum" class="section white_section">
             <div class="section_inner">
                 <div class="section_content clearfix text_block">
                     <div class="fr invest_img_holder"><img src="i/ethereum_logo.png" alt="feature description"></div>
                     <div class="usability_block fl">
                         <div class="section_caption text_gray">Invest with Ethereum</div>
                         <div class="sub_caption">Second Passphrase</div>
                         <p>As an added security measure, Crypti allows users to set a second passphrase on their account. In the event that your first passphrase is compromised, your second passphrase is still required for every transaction.</p>
                         <div class="sub_caption">Multi-Signature Groups</div>
                         <p>To provide maximum security for startups and individual users we implemented multi-signature transaction authentication. You can create a multi-signature group with up to 16 accounts and configure it to your needs.</p>
                        <p class="text_center_mob"><a href="http://wallet.crypti.me" target="_blank" class="btn_v2 subscribe_btn blue_btn fw_600">Invest via Lisk</a> <a href="http://wallet.crypti.me" target="_blank" class="btn_v2 subscribe_btn lilac_btn fw_600">Invest via Poloniex</a></p>
                     </div>
                 </div>
             </div>
         </div>
        <div class="section gray_section">
            <div class="section_inner">
                <div class="section_content text_block">
                    <div class="api_block">
                        <div class="section_caption text_gray text_center">There is even more!</div>
                        <p class="text_center">You have questions or want to know something? Come to Chat, Bitcointalk, Bitcoin.com etc. and ask us! TEXT TEXT TEXT</p>
                        <div class="text_center"><a href="https://github.com/crypti/crypti-sources" class="btn_v2 subscribe_btn fw_600 blue_btn">Join our Chat</a> <a href="https://github.com/crypti/crypti-sources" class="btn_v2 subscribe_btn fw_600 green_btn">Go to our Forum</a></div>
                    </div>
                </div>
            </div>
        </div>
        <!--<div class="section white_section_2">
            <div class="section_inner">
                <div class="section_content text_block">
                    <div class="consensus_block text_center">
                        <div class="section_caption text_gray">Consensus</div>
                        <p>Lisk utilizes a custom built version of the Delegated Proof-of-Stake (DPoS) system. All aspects of the network are decentralized through a form of consensus that puts the power back in the hands of the users. Not only are the individual blocks transmitted through the network secured through consensus provided by delegate voting, but the network is being built to delegate all major decision making power to the users through consensus voting.</p>
                        <p><a href="#" class="btn_v2 subscribe_btn blue_btn fw_600" target="_blank">Delegate List</a></p>
                    </div>
                </div>
            </div>
        </div>-->
        <div class="section white_section">
            <div class="section_inner">
                <div class="dapps_update_block">
                    <div class="section_caption text_gray text_center">A lot more to come!</div>
                    <div class="sub_caption text_center">Stay up to date by subscribing to our newsletter. Promise, we don’t spam.</div>
                       <div class="container mailchimp">
                         <div id="mc_embed_signup" class="update_subscribe_form clearfix">
                             <form action="//lisk.us12.list-manage.com/subscribe/post?u=201693389b5cea4883858163e&amp;id=14c69eecc3" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                                 <div id="mc_embed_signup_scroll">
                                     <div class="mc-field-group form_cell">
                                         <input type="email" placeholder="Your email" value="" name="EMAIL" class="f_input input_v1" id="mce-EMAIL">
                                     </div>
                                     <div id="mce-responses" class="clear">
                                         <div class="response" id="mce-error-response" style="display:none"></div>
                                         <div class="response" id="mce-success-response" style="display:none"></div>
                                     </div>
                                     <div class="clear form_cell text_center">
                                     <input type="submit" value="Subscribe" name="Sign me up!" id="mc-embedded-subscribe" class="btn_v2 subscribe_btn blue_btn fw_600"></div>
                                     <div style="position: absolute; left: -5000px;"><input type="text" name="b_201693389b5cea4883858163e_14c69eecc3" tabindex="-1" value=""></div>
                                 </div>
                             </form>
                         </div>
                                {{> social }}
                         <script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script><script type='text/javascript'>(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';fnames[1]='FNAME';ftypes[1]='text';fnames[2]='LNAME';ftypes[2]='text';}(jQuery));var $mcj = jQuery.noConflict(true);</script>
                     </div>
                </div>
            </div>
        </div>
       {{> footer }}
    </div>
    <div class="hero_block text_center">
        <div class="abs_container">
            <div class="gl_table_cell">
                <div class="section_inner">
                    <h1 class="hero_title">Initial Coin Offering</h1>
                    <div class="hero_text">Be a part of making Lisk big</div>
                </div>
            </div>
        </div>
        {{> menu }}
    </div>
</main>
