<main class="wrapper h_420">
    <div class="base">
        <div class="section white_section">
            <div class="section_inner">
                <div class="section_content clearfix text_block"><a href="https://twitter.com/intent/tweet?text=I%27m%20part%20of%20the%20Lisk%20ICO!%20And%20you%3F%20You%20can%20exchange%20your%20%23Bitcoin%2C%20%23Crypti%20and%20%23Ethereum!&amp;url=https://lisk.io/ico" target="_blank" class="material-icons consensus_btn">share</a>
                    <div class="usability_block fl">
                        <div class="section_caption text_gray">Our ICO has now ended</div>
                        <div class="sub_caption">..about 4000 Liskers participated!</div>
                        <p>Lisk is your blockchain application and sidechain platform, providing a full stack solution for the <a href="http://stackoverflow.com/research/developer-survey-2015" class="gl_link text_blue">most widespread</a> programming language in the world - JavaScript. One of the best crypto-currency user experience with its easily manageable user interface and its integrated App Directory Lisk is prepared to become the de facto standard for blockchain apps and custom blockchains developed in JavaScript.</p>
                        <p class="text_center_mob"><a href="https://ico.lisk.io/" target="_blank" class="btn_v2 normal_btn blue_btn">ICO Page</a> <a href="https://blog.lisk.io/lisk-ico-terms-25ca3ecd5a4d" target="_blank" class="btn_v2 normal_btn white_btn">More Information</a></p>
                    </div>
                    <div class="fr invest_img_holder"><img src="i/ico/dashboard.png" alt="ICO Dashboard"></div>
                </div>
            </div>
        </div>
        <div class="section gray_section">
            <div class="section_middle_img"><img src="i/ico/escrow.png" alt="Escrow"></div>
            <div class="section_inner">
                <div class="section_content clearfix text_block">
                    <div class="usability_block fr">
                        <div class="section_caption text_gray">All Money is held in Escrow</div>
                        <div class="sub_caption">2-of-3 Multi-Signature Vault for Maximum Security</div>
                        <p>All collected BTC will be held in a multi-signature vault on coinbase. Both our escrow partners <a href="https://de.linkedin.com/in/ahellinger/en" class="gl_link text_blue">Axel Hellinger</a> and <a href="https://at.linkedin.com/in/paul-klanschek-a1808134" class="gl_link text_blue">Paul Klanschek</a> (<a href="https://bitcointalk.org/index.php?action=profile;u=16614" class="gl_link text_blue">TwinWinNerD</a>) will only pay out the BTC once the Lisk network is running. More information are available in our <a href="https://blog.lisk.io/lisk-ico-terms-25ca3ecd5a4d" class="gl_link text_blue">ICO blog post</a>.</p>
                        <div class="sub_caption">Trust created by law and reputation</div>
                        <p>Axel Hellinger is a German lawyer with over 10 years of experience and also the official legal adviser of Lisk. Paul Klanschek is a prominent member on the Bitcointalk forums since nearly 5 years and CEO of <a href="https://www.coinimal.com/" class="gl_link text_blue">Coinimal</a>.</p>
                        <p>Both parties complement each others perfectly and provide the best security from the judicial and crypto-currency world. Please be aware that both are independent escrow partners, Coinimal as a company is not involved in this partnership.</p>
                    </div>
                </div>
            </div>
        </div>
        <div id="investBitcoin" class="section white_section">
            <div class="section_inner">
                <div class="section_content clearfix text_block">
                    <div class="fr invest_img_holder"><img src="i/ico/bitcoin_logo.png" alt="Bitcoin"></div>
                    <div class="usability_block fl">
                        <div class="section_caption text_gray">Bitcoin (BTC)</div>
                        <div class="sub_caption">The most Prominent Crypto-Currency</div>
                        <p>In order to collect enough money to properly market Lisk we accepted Bitcoin. In the future we will also looking forward to integrate Bitcoin functionalities directly into the Lisk client.</p>
                        <div class="sub_caption">Your advantages</div>
                        <p>If you exchanged your BTC for LISK you received a 15% bonus in the first week, a 10% bonus in the second week and a 5% bonus in the third week. You can read the exchange rules in our <a href="https://blog.lisk.io/lisk-ico-terms-25ca3ecd5a4d" class="gl_link text_blue">ICO terms</a>.</p>
                    </div>
                </div>
            </div>
        </div>
        <div id="investEthereum" class="section gray_section">
             <div class="section_inner">
                 <div class="section_content clearfix text_block">
                     <div class="fr invest_img_holder"><img src="i/ico/ethereum_logo.png" alt="Ethereum"></div>
                     <div class="usability_block fl">
                         <div class="section_caption text_gray">Ethereum (ETH)</div>
                         <div class="sub_caption">The Alternative</div>
                         <p>We see Ethereum as our biggest alternative on the dapp market, thanks to our unique features and awesome user experience we see a big chance to get on the same level as Ethereum. With Lisk you are able to deploy Ethereum-like dapps completely coded in JavaScript.</p>
                        <div class="sub_caption">Your advantages</div>
                        <p>You had the one-of-a-kind possibility to diversify into a similar (promising) technology like Ethereum. The Lisk team members are huge fans of Ethereum and are fully prepared to take it on. You can read the exchange rules in our <a href="https://blog.lisk.io/lisk-ico-terms-25ca3ecd5a4d" class="gl_link text_blue">ICO terms</a>.</p>
                    </div>
                </div>
            </div>
        </div>
        <div id="investCrypti" class="section white_section">
            <div class="section_inner">
                <div class="section_content clearfix text_block">
                    <div class="fr invest_img_holder"><img src="i/ico/crypti_logo.png" alt="Crypti"></div>
                    <div class="usability_block fl">
                        <div class="section_caption text_gray">Crypti (XCR)</div>
                        <div class="sub_caption">The Predecessor</div>
                        <p>The Lisk team consists of former Crypti foundation members, therefore it's natural that we accepted XCR as well. As strong blockchain application supporters we are looking forward to push the whole sector forward.</p>
                        <div class="sub_caption">Your advantages</div>
                        <p>You could have been a part of a unique and innovative blockchain application and custom blockchain platform with many new features, a fresh look and a motivated team. Due to the complete open source development and community involvement you will truly be a part of Lisk! You can read the exchange rules in our <a href="https://blog.lisk.io/lisk-ico-terms-25ca3ecd5a4d" class="gl_link text_blue">ICO terms</a>.</p>
                    </div>
                </div>
            </div>
        </div>
        <div id="investAltcoins" class="section gray_section">
            <div class="section_inner">
                <div class="section_content clearfix text_block">
                    <div class="fr invest_img_holder"><img src="i/ico/altcoins.png" alt="Altcoins"></div>
                    <div class="usability_block fl">
                        <div class="section_caption text_gray">Any ShapeShift Altcoin</div>
                        <div class="sub_caption">The Choice</div>
                        <p>We wanted to enable as many crypto-currency holders as possible to participate in this truly unparalleled ICO. We are using technology built by <a href="https://shapeshift.io" class="gl_link text_blue">ShapeShift.io</a> to make this possible. All altcoins besides XCR will be directly converted into BTC.</p>
                        <div class="sub_caption">Your advantages</div>
                        <p>The ICO offered a unique chance to diversify into a promising crypto-currency and app platform. If you participated via our ShapeShift implementation you received the same bonuses as Bitcoin and Ethereum participants. You can read the exchange rules in our <a href="https://blog.lisk.io/lisk-ico-terms-25ca3ecd5a4d" class="gl_link text_blue">ICO terms</a>.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="section white_section">
            <div class="section_inner">
                <div class="dapps_update_block">
                    <div class="section_caption text_gray text_center">A lot more to come!</div>
                    <div class="sub_caption text_center">Stay up to date by subscribing to our newsletter.</div>
                       <div class="container mailchimp">
                         <div id="mc_embed_signup" class="update_subscribe_form clearfix">
                             <form action="//lisk.us12.list-manage.com/subscribe/post?u=201693389b5cea4883858163e&amp;id=14c69eecc3" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                                 <div id="mc_embed_signup_scroll">
                                     <div class="mc-field-group form_cell">
                                         <input type="email" placeholder="Your email" value="" name="EMAIL" class="f_input input_v1" id="mce-EMAIL">
                                     </div>
                                     <div id="mce-responses" class="clear">
                                         <div class="response" id="mce-error-response" style="display:none"></div>
                                         <div class="response" id="mce-success-response" style="display:none"></div>
                                     </div>
                                     <div class="clear form_cell text_center">
                                     <input type="submit" value="Subscribe" name="Sign me up!" id="mc-embedded-subscribe" class="btn_v2 fw_600 wide_btn blue_btn"></div>
                                     <div style="position: absolute; left: -5000px;"><input type="text" name="b_201693389b5cea4883858163e_14c69eecc3" tabindex="-1" value=""></div>
                                 </div>
                             </form>
                         </div>
                                {{> social }}
                         <script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script><script type='text/javascript'>(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';fnames[1]='FNAME';ftypes[1]='text';fnames[2]='LNAME';ftypes[2]='text';}(jQuery));var $mcj = jQuery.noConflict(true);</script>
                     </div>
                </div>
            </div>
        </div>
       {{> footer }}
    </div>
    <div class="hero_block text_center">
        <div class="abs_container">
            <div class="gl_table_cell">
                <div class="section_inner">
                    <h1 class="hero_title">Initial Coin Offering</h1>
                    <div class="hero_text">Be a part of Lisk</div>
                </div>
            </div>
        </div>
        {{> menu }}
    </div>
</main>
