<main class="wrapper h_420">
    <div class="base">
        <div class="section white_section">
            <div class="section_inner">
                <div class="section_content text_block">
                    <div class="get_started_block text_center">
                        <p>Nowadays, we have Apple’s App Store and Google’s Play Store. Both centralized solutions owned by corporations for centralized applications. The Lisk Foundation believes in a decentralised future. In order to achieve this, Lisk strives to make blockchain technology accessible for everybody by building a blockchain application platform likewise for users and developers. <br><br>On May 24th 2016 the Lisk blockchain network went live with its own cryptocurrency called LSK. From that date, the Lisk Foundation is working hard together with its contractors towards the release of their Software Development Kit (SDK). The SDK is a framework written in JavaScript to deploy your own blockchain network next to the main Lisk network. Decentralised applications can be built on top of your own blockchain. <br><br>Possibilities are endless, like developing platform independent social networks, messengers, games and so on. All on your own blockchain network including corresponding token, fully decentralised, and all this without the hassle of complicated consensus algorithms or peer-to-peer networking protocols.</p>
                        <p><a href="https://blog.lisk.io/what-is-lisk-and-what-it-isnt-e7b6b6188211" target="_blank" class="btn_v2 wide_btn blue_btn">Read the Full Vision</a></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="section gray_section">
            <div class="download_section">
                <div class="download_block clearfix">
                    <ul class="download_list">
                        <li class="download_item">
                            <div class="download_unit">
                                <div class="download_unit_inner">
                                    <div class="download_os"><span class="fa fa-2x fa-book dl_os_windows"></span><span>Documentation</span></div>
                                    <p>Technical documentation for developers, delegates and technical users. Take a look and learn more about Lisk.</p>
                                    <p><a href="https://docs.lisk.io/" class="btn_v2 normal_btn gray_btn" target="_blank">Visit Docs</a></p>
                                </div>
                            </div>
                        </li>
                        <li class="download_item">
                            <div class="download_unit">
                                <div class="download_unit_inner">
                                    <div class="download_os"><span class="fa fa-question-circle fa-2x dl_os_mac"></span><span>FAQ</span></div>
                                    <p>The FAQ answers the most common questions in regards to the Lisk Foundation, our token, the network and its security.</p>
                                    <p><a href="https://docs.lisk.io/docs/faq" class="btn_v2 normal_btn gray_btn" target="_blank">Visit FAQ</a></p>
                                </div>
                            </div>
                        </li>
                        <li class="download_item">
                            <div class="download_unit">
                                <div class="download_unit_inner">
                                    <div class="download_os"><span class="fa fa-newspaper-o fa-2x dl_os_linux"></span><span>Blog</span></div>
                                    <p>Round-ups, announcements, new versions and more are published on our blog. It's worth a read!</p>
                                    <p><a href="https://blog.lisk.io/" class="btn_v2 normal_btn gray_btn" target="_blank">Visit Blog</a></p>
                                </div>
                            </div>
                        </li>
                        <li class="download_item">
                            <div class="download_unit">
                                <div class="download_unit_inner">
                                    <div class="download_os"><span class="fa fa-envelope fa-2x dl_os_linux"></span><span>Newsletter</span></div>
                                    <p>For those who prefer Email, get all blog announcements to your inbox! Never miss news again!</p>
                                    <p><a href="https://lisk.io/#newsletter" class="btn_v2 normal_btn gray_btn" target="_blank">Subscribe</a></p>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
       {{> footer }}
    </div>
    <div class="hero_block text_center">
        <div class="abs_container">
            <div class="gl_table_cell">
                <div class="section_inner">
                    <h1 class="hero_title">Become a pro</h1>
                    <div class="hero_text">All our valuable resources right at your fingertips</div>
                </div>
            </div>
        </div>
        {{> menu }}
    </div>
</main>
