<main class="wrapper h_420">
    <div class="base">
        <!--<div class="section gray_section">
            <figure class="mediakit_figure"><img src="i/mediakit/identity.png" alt="Lisk Identity Package Image">
                <figcaption class="identity_caption">Lisk Identity Package Image</figcaption>
            </figure>
        </div>-->
        <div class="section white_section">
            <div class="section_inner">
                <div class="identity_block"><a href="{{mediakit}}" class="material-icons identity_btn">file_download</a>
                    <div class="section_caption text_gray">What's included in the package?</div>
                    <div class="mediakit_caption">Official Lisk Logos</div>
                    <ul class="mediakit_list">
                        <li class="mediakit_item">
                            <figure class="mediakit_box"><img src="i/mediakit/logo_1.png" alt="Logo Variation 1"></figure>
                        </li>
                    </ul>
                    <div class="mediakit_caption">Lisk Icons</div>
                    <ul class="mediakit_list">
                        <li class="mediakit_item">
                            <figure class="mediakit_box"><img src="i/mediakit/icon_1.png" alt="Icon Original Size"></figure>
                        </li>
                        <li class="mediakit_item">
                            <figure class="mediakit_box"><img src="i/mediakit/icon_2.png" alt="Icon 128x128"></figure>
                        </li>
                        <li class="mediakit_item">
                            <figure class="mediakit_box"><img src="i/mediakit/icon_3.png" alt="Favicon 32x32"></figure>
                        </li>
                        <li class="mediakit_item">
                            <figure class="mediakit_box"><img src="i/mediakit/icon_4.png" alt="Favicon 16x16"></figure>
                        </li>
                    </ul>
                    <div class="mediakit_caption">Website Images</div>
                    <ul class="mediakit_list">
                        <li class="mediakit_item">
                            <figure class="mediakit_box"><img src="i/mediakit/website_1.png" alt="Website Image 1"></figure>
                        </li>
                        <li class="mediakit_item">
                            <figure class="mediakit_box"><img src="i/mediakit/website_2.png" alt="Website Image 2"></figure>
                        </li>
                    </ul>
                    <div class="mediakit_caption">Color Palette</div>
                    <ul class="mediakit_list">
                        <li class="mediakit_item">
                            <figure class="mediakit_box"><img src="i/mediakit/color_palette.png" alt="Color Palette"></figure>
                        </li>
                    </ul>
                    <div class="mediakit_caption">And much more..</div>
                    <div class="mediakit_controls"><a href="{{mediakit}}" class="btn_v2 blue_btn kit_download_btn"><span class="material-icons download_icon">file_download</span><span>Media Kit</span></a></div>
                    <div class="download_size">58 MB (.zip)</div>
                </div>
            </div>
        </div>
        {{> footer }}
    </div>
    <div class="hero_block text_center">
        <div class="abs_container">
            <div class="gl_table_cell">
                <div class="section_inner">
                    <h1 class="hero_title">Media Kit</h1>
                    <div class="hero_text">Everything you need in one Package</div>
                </div>
            </div>
        </div>
        {{> menu }}
    </div>
</main>
