<main class="wrapper h_420">
    <div class="base">
        <div class="section gray_section">
            <figure class="mediakit_figure"><img src="i/identity_1.png" alt="Lisk Identity Package Image">
                <figcaption class="identity_caption">Lisk Identity Package Image</figcaption>
            </figure>
        </div>
        <div class="section white_section">
            <div class="section_inner">
                <div class="identity_block"><a href="#" class="material-icons identity_btn">file_download</a>
                    <div class="section_caption text_gray">What's included in the package?</div>
                    <div class="mediakit_caption">Lisk Flyer</div>
                    <ul class="mediakit_list">
                        <li class="mediakit_item">
                            <figure class="mediakit_box"><img src="i/mediakit_1.png" alt="Flyer Image">
                                <figcaption class="mediakit_img_name">Flyer Image</figcaption>
                            </figure>
                        </li>
                        <li class="mediakit_item">
                            <figure class="mediakit_box"><img src="i/mediakit_1.png" alt="Flyer Image">
                                <figcaption class="mediakit_img_name">Flyer Image</figcaption>
                            </figure>
                        </li>
                    </ul>
                    <div class="mediakit_caption">Lisk Sticker</div>
                    <ul class="mediakit_list">
                        <li class="mediakit_item">
                            <figure class="mediakit_box"><img src="i/mediakit_2.png" alt="Sticker Image">
                                <figcaption class="mediakit_img_name">Sticker Image</figcaption>
                            </figure>
                        </li>
                    </ul>
                    <div class="mediakit_caption">Official Lisk Logos</div>
                    <ul class="mediakit_list">
                        <li class="mediakit_item">
                            <figure class="mediakit_box"><img src="i/mediakit_3.png" alt="Sticker Image">
                                <figcaption class="mediakit_img_name">Light Logo PNG</figcaption>
                            </figure>
                        </li>
                        <li class="mediakit_item">
                            <figure class="mediakit_box"><img src="i/mediakit_3.png" alt="Sticker Image">
                                <figcaption class="mediakit_img_name">Light Logo PNG</figcaption>
                            </figure>
                        </li>
                    </ul>
                    <div class="mediakit_caption">And much more <span class="fz_16"> (Presentation, Business Cards, Lorem Ipsum etc..)</span></div>
                    <div class="mediakit_controls"><a href="#" class="btn_v2 blue_btn kit_download_btn"><span class="material-icons download_icon">file_download</span><span>MediaKit</span></a></div>
                    <div class="download_size">24.82 MB (.zip)</div>
                </div>
            </div>
        </div>
        {{> footer }}
    </div>
    <div class="hero_block text_center">
        <div class="abs_container">
            <div class="gl_table_cell">
                <div class="section_inner">
                    <h1 class="hero_title">MediaKit</h1>
                    <div class="hero_text">Everything you need for your Lisk business</div>
                </div>
            </div>
        </div>
        {{> menu }}
    </div>
</main>
