<main class="wrapper h_420">
    <div class="base">
        <div class="section white_section_2">
            <div class="section_inner">
                <div class="section_content text_block">
                    <div class="about_block">
                        <div class="section_caption text_gray">Sorry, this page does not exist.</div>
                        <p>We are sorry for the inconvenience. If you think that this page should exist, please contact the administrators of this page. Thank you very much.</p>
                        <p class="text_center text_center_mob btns_v1"><a href="https://lisk.io/" class="btn_v2 subscribe_btn blue_btn fw_600" target="_blank">Back to Lisk.io</a></p>
                    </div>
                </div>
            </div>
        </div>
        {{> footer }}
    </div>
    <div class="hero_block text_center">
        <div class="abs_container">
            <div class="gl_table_cell">
                <div class="section_inner">
                    <h1 class="hero_title">404</h1>
                    <div class="hero_text">The Page you are looking for can't be found.</div>
                </div>
            </div>
        </div>
        {{> menu }}
    </div>
</main>
