<main class="wrapper h_420 relaunch_page">
    <div class='gradients'>
      
      <span class="bg-5"></span>
      <span class="bg-6"></span>
      <span class="bg-7"></span>
      <span class="bg-1"></span>
      <span class="bg-2"></span>
      <span class="bg-3"></span>
      <span class="bg-4"></span>
      <span class="bg-8"></span>
      <span class="bg-9"></span>
      <span class="bg-10"></span>
      <span class="bg-11"></span>
      <span class="bg-12"></span>
    </div>
    <div class="base">
        <div class="section">
            <div class="section_inner">
                <div class="section_content text_center intro clearfix">
                  <h2>Lisk Relaunch Event</h2>
                  <h3>20 February 2018</h3>
                  <h3 class="city">BERLIN</h3>
                  <h5>Livestream will be available from 8.30pm CET via our Youtube channel</h5>
                  <a class='cta btn_v2 wide_btn' target='_blank' href='https://www.youtube.com/liskhq?sub_confirmation=1'>SUBSCRIBE HERE</a>
                </div>
                <div class="section_content text_block jurney display_table clearfix">
                  <div class='table_cell'>
                    <p>
                      <span>W</span>
                      e set out on an ambitious journey and are thrilled to show you the results. The Relaunch Event is a major milestone in Lisk's marketing and development roadmap, which includes the rollout of our new brand identity, frontend design, dashboard and wallet. It also comes ahead of the release of the alpha-version of the Lisk SDK for blockchain applications. We hope you can join us for this pivotal event.
                      <span class="watter_mark">LISK</span>
                    </p>
                  </div>
                </div>
                <div class="section_content text_center agenda display_table clearfix">
                  <div class='table_cell'>
                    <h2>Agenda</h2>
                    <div class="time_table">
                      <h4 class="left"><b>7:30 PM - 8:30 PM</b></h4>
                      <h4 class="right">Arrival and networking</h4>
                      <h4 class="left"><b>8:30 PM - 10:00 PM</b></h4>
                      <h4 class="right">Keynote presentation</h4>
                      <h4 class="left"><b>10:00 PM - 12:00 AM</b></h4>
                      <h4 class="right">Reception (open bar and finger food)</h4>
                    </div>
                  </div>
                </div>
                <div class="section_content text_center venue clearfix">
                  <h2><a target='_blank' href='http://wecc.de/'>Venue</a><i class="fa fa-external-link"></i></h2>
                  <div class="clearfix">
                    <h3>Location</h3>
                    <p>The WECC is located in West Berlin, close to Tegel airport, Berlin’s exhibition center and the government district. The venue is directly connected to the BAB 100 motorway via the Beusselstraße junction and to the city of Berlin via the nearby S-Bahn and U-Bahn railway stations.</p>
                  </div>
                  <div class="clearfix">
                    <h3>Parking</h3>
                    <p>Parking is available nearby at the following multi-storey car park: Parkhaus MOA Bogen, Birkenstraße 56, 10559 Berlin.</p>
                  </div>
                  <div class="clearfix">
                    <h3>Public Transportation</h3>
                    <p>The venue is conveniently located near Westhafen U-Bahn and S-Bahn stations. Use <a target='_blank' href='https://www.google.de/maps/dir//WECC+-+West+Haven+Event+%26+Convention+Center,+Westhafenstraße+1,+Sektor+B,+Halle+1,+13353+Berlin/@52.5269894,13.3118845,13z/data=!4m9!4m8!1m0!1m5!1m1!1s0x47a85171d712132d:0x206d067d4e258ea6!2m2!1d13.337737!2d52.536582!3e3'>Google Maps</a> to get directions from your location.</p>
                  </div>
                  <div class="clearfix">
                    <h3>Accomodation</h3>
                    <p>See our <a target='_blank' href='https://docs.google.com/document/d/17evS74q8PRxdZh4559EcCeDMcWwB8Nr5JdDkwP2sw2s/edit?ts=5a54d583'>list of recommended hotels</a> in central Berlin.</p>
                  </div>
                  <a class='cta btn_v2 wide_btn' target='_blank' href='https://calendar.google.com/calendar/hosted/lightcurve.io/event?action=TEMPLATE&tmeid=YTMyaGdpNmx0dm9mcjBvcW1wcjZsZWRtNXMgbGluZHNheUBsaWdodGN1cnZlLmlv&tmsrc=lindsay%40lightcurve.io'>Add Event to Calendar</a>
                </div>
                <div class="text_block text_center info clearfix">
                  <h3>Unable to attend in person?</h3>
                  <p>Watch the livestream starting at <b>8:30 PM CET</b> on our <b><a target='_blank' href='https://www.youtube.com/liskhq'>YouTube Channel</a></b>.</p>
                  <p>Please email us at <b><a href='mailto:events@lisk.io'>events@lisk.io</a></b> if you have any questions.</p>
                </div>
            </div>
        </div>
        {{> footer }}
    </div>
    <div class="hero_block text_center">
        {{> menu }}
    </div>
</main>
