<main class="wrapper h_420">
    <div class="base">
        <div class="section gray_section">
            <div class="section_inner">
                <div class="identity_block"><a href="{{whitepaper}}" target="_blank" class="material-icons identity_btn">description</a>
                    <p class="text_center text_center_mob">
                        <a href="{{whitepaper}}" target="_blank"><img class="whitepaper_image" src="i/whitepaper.png" alt="Whitepaper"></a>
                    </p>
                    <p class="text_center text_center_mob whitepaper_text">The Lisk whitepaper explains the underlying technical foundation of the Lisk core.</p>
                    <p class="text_center text_center_mob whitepaper_text"><strong>We took down the outdated whitepaper. An updated one will be released once the Lisk team is settled in Berlin.</strong></p>
                    <!--<p class="text_center text_center_mob btns_v1">
                        <a href="{{whitepaper}}" target="_blank" class="btn_v2 blue_btn whitepaper_btn kit_download_btn"><span class="material-icons download_icon">description</span><span class="whitepaper_btn_text">White Paper</span></a>
                    </p>-->
                </div>
            </div>
        </div>
        <div class="section white_section">
            <div class="section_inner">
                <div class="section_content text_block">
                    <div class="api_block">
                        <div class="section_caption text_gray text_center">Open Source</div>
                        <p class="text_center">The Lisk Team is a strong supporter of open source software. Due to the fact that Lisk is also a financial platform, it is self-evident that the source code is public for everyone. If you want to work on Lisk please get in contact with us, we will gladly integrate you in our development process.</p>
                        <div class="api_holder">{{> sandbox }}</div>
                        <div class="text_center"><a href="https://github.com/LiskHQ/lisk" target="_blank" class="btn_v2 wide_btn blue_btn">Source Code</a></div>
                    </div>
                </div>
            </div>
        </div>
       {{> footer }}
    </div>
    <div class="hero_block text_center">
        <div class="abs_container">
            <div class="gl_table_cell">
                <div class="section_inner">
                    <h1 class="hero_title">Whitepaper</h1>
                    <div class="hero_text">How the Lisk core works</div>
                </div>
            </div>
        </div>
        {{> menu }}
    </div>
</main>
